.infra-legend-item {
    display: flex;
    align-items: center;justify-content: flex-start;
    cursor:  pointer;
    &__icon {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        flex-shrink: 0;
        margin-right: 8px;
        &--line {
            width: 16px;
            height: 2px;
            border-radius: 0;
        }
        &--circle {
            position: relative;
            &:after {
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                width: calc(100% - 4px);
                height: calc(100% - 4px);
                background-color: var(--gray-light);
                border-radius: 50%;

            }
        }
    }
    &__text {
        color: var(--Black, #212721);
        font-family: Suisse Intl;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.15px;
        text-transform: uppercase !important;
    }
    &.active {
        .infra-legend-item__text {
            font-weight: 600;
        }
    }
}

.desktop {
    .infra-legend-item {
        transition: transform 0.3s ease-in-out;
        &:hover {
            transform: translateX(8px);
        }
    }
}