.page-title-nav {
    display: flex;
    height: 50px;
    background-color: var(--color-white);
    transform-origin: left;
    transform: translateY(calc(var(--page-title-skew-h) * -1 + 2px)) rotate(3.2deg);
    margin-bottom: -50px;
    transition: transform 0.3s ease-in-out;
    &.fixed {
        transform: none;
    }
    &__item {
        color: var(--Black, #212721);
        font-family: Suisse Intl;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.15px;
        text-transform: uppercase;  
        padding: 16px 24px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
        flex-shrink: 0;
        text-decoration: none;
        &.active {
            background-color: var(--color-yellow);
        }
    }
    &__scroll-button {
        position: sticky;
        flex-shrink: 0;
        left: 0;
        top: 0;
        width: 29px;
        height: 50px;
        background-color: var(--color-black);
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            transform: rotate(180deg);
        
        }
    }
    &__scroll-button-next {
        position: sticky;
        flex-shrink: 0;
        right: 0;
        top: 0;
        width: 29px;
        height: 50px;
        background-color: var(--color-black);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &--scrollable {
        overflow-x: auto;
        position: sticky;
        top: var(--header-h);
        z-index: 2;
        &::-webkit-scrollbar {
            display: none;
        }
    
    }
}

.desktop {
    
    .page-title-nav {
        &.mobile-only {
            display: none;
        }

        &__scroll-button,
        &__scroll-button-next {
            display: none;
        }
        @media screen and (max-width:1366px){
            transform: translateY(calc(var(--page-title-skew-h) * -1 + 2px)) rotate(4.7deg);
        }
        &__item {
            &:hover {
                background-color: var(--color-green);
            }
        }
    }
}

.mobile {
    .page-title-nav {
        transform: translateY(calc(var(--page-title-skew-h) * -1)) rotate(3.2deg);
        &__item {
            
        }
        &.fixed {
            transform: none;
        }
    }
}