
.news-more-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:  var(--container-v-gap);
    padding-left: var(--menu-gap);
}

.news-container {
    @include row-flex();
    row-gap: 13vh;
    margin-top: 100px;
    .news-card {
        @include size(6);
        @include shift(0);
    }
    transition: .25s ease-out;

    &.pending {
        opacity: 0.5;
        pointer-events: none;
        filter: blur(5px);
    }
}

.tablet {
    .news-container {
        row-gap: 60px;
        .news-card {
            @include size-sm(6);
            @include shift-sm(0);
        }
    }
}

.mobile {
    .news-container {
        margin-top: 70px;
        row-gap: 40px;
        .news-card {
            @include size-xs(12);
            @include shift-xs(0);
        }
    }
}