.footer-developer-block
    div © Усі права захищено. Piхeрт & Пaрк 2022
    div 
        span Верстка сайту 
        a(target='_blank' href="https://smarto.agency/?utm_source=referral&utm_medium=rihert.com") smart orange