-
    var links = [
        ['ІНФО','#info'],
        ['ІСТОРІЯ','#history'],
        ['ФІЧІ','#features'],
        ['ЛОКАЦІЯ','#location'],
        ['ЗАБУДОВНИКА','#developer'],
        ['КОНТАКТИ','#contacts'],
    ];
    var mobileLinks = [
        {title: 'Головна', link: '#'},
        {title: 'Обрати квартиру', link: '#'},
        {title: 'Нерухомість для бізнесу', link: '#'},
        {title: 'Про комплекс', link: '/about'},
        {title: 'Інфраструктура', link: '/infrastructure'},
        {title: 'Завод Ріхерта', link: '/rihert-factory'},
        {title: 'Галерея', link: '#'},
        {title: 'Панорама', link: '#'},
        {title: 'Девелопер', link: '/developer'},
        {title: 'Новини', link: '/news'},
        {title: 'Контакти', link: '#'},
    ]
.header-mobile
    button(data-open-menu).menu-button
        <svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="20" height="2" fill="#212721"/>
            <rect y="6" width="20" height="2" fill="#212721"/>
            <rect y="12" width="20" height="2" fill="#212721"/>
        </svg>
        span Меню
    include ../../assets/svg-sprite/logo.svg
    button.button-bordered.button Записатися на перегляд
    .header-mobile__call
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.81061 5.08328L4.98844 3.72326C5.16351 3.52145 5.17479 3.23399 5.01685 3.01839L3.33973 0.732472C3.19642 0.536512 2.95742 0.455454 2.72428 0.523977C1.05259 1.01409 -0.00909394 2.47564 0.749248 4.55181C2.13515 8.34733 5.65194 11.8646 9.44825 13.2509C11.5248 14.0089 12.9859 12.9476 13.476 11.2759C13.5445 11.0427 13.4635 10.8037 13.2675 10.6604L10.9816 8.98326C10.766 8.82532 10.4786 8.8366 10.2768 9.01167L8.91678 10.1895C6.96013 9.38604 4.61449 7.04037 3.81103 5.0837L3.81061 5.08328Z" fill="#212721"/>
        </svg>
    .lang-block
        .lang-block__current 
            span ua
            <svg width="6" height="4" viewBox="0 0 6 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L3 3L5 1" stroke="#212721"/>
            </svg>

        .lang-block__else
            a(href="#ru") ru
            a(href="#en") en


.menu-mobile(data-mobile-menu)
    button(data-close-menu).menu-button
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M17 17L1 1M1 17L17 1L1 17Z" stroke="#111111" stroke-width="2"/>
        </svg>
        span Меню
    each val in mobileLinks
        a(href=val.link).menu-mobile__link #{val.title}
    a.menu-mobile__phone(href="tel:+38(096)9956364") +38 (096) 995-63-64
    a.button.button-bordered Записатися на перегляд


nav.nav 
    +svg('logo').nav__logo
    each val in links 
        a.nav__link(href=val[1]) #{val[0]}
    button(type="button" data-form-wrapper-call).nav__button 
        span Записатися на перегляд
    .nav__group.df
        .nav__menu-toggle-mob(data-mob-toggle) ...
        .nav__lang ua
            .nav__lang-else 
                a(href="#ru") ru
                a(href="#en") en