.inner-footer
    .inner-footer__top-border
    .inner-footer__bottom-border
    .inner-footer__group 
        .inner-footer__subtitle Відділ продажів
        button.button-bordered.desktop-show Відкрити у навігаторі
        button.button-bordered.mobile-show на карті
    .inner-footer__group 
        .inner-footer__subtitle Забудовник проекту
        button.button-bordered Перейти на сайт
    .inner-footer__group.inner-footer__group--mobile-wide
        .inner-footer__subtitle Ми у соц. мережах
        a(target="_blank" href="https://instagram.com/").link-underlined інстраграм
        a(target="_blank" href="https://facebook.com/").link-underlined фейсбук
    .inner-footer__langs
        a(href="#" class="inner-footer__lang-link") Українська
        a(href="#" class="inner-footer__lang-link") English
        a(href="#" class="inner-footer__lang-link") русский