.inner-footer
    .inner-footer__top-border
    .inner-footer__bottom-border
    .inner-footer__group 
        .inner-footer__subtitle Відділ продажів
        a(href=projectLocation target='_blank' data-mobile-title="На карті").button-bordered.desktop-show Відкрити у навігаторі
        button.button-bordered.mobile-show на карті
    .inner-footer__group 
        .inner-footer__subtitle Забудовник проекту
        a(target='_blank' href="https://www.adevelopment.ua/" data-mobile-title="на сайт").button-bordered Перейти на сайт
    .inner-footer__group.inner-footer__group--mobile-wide
        .inner-footer__subtitle(data-mobile-text="Соц. мережі") Ми у соц. мережах
        a.link.link--iocaste(target="_blank" href="https://instagram.com/")
            span інстраграм
            svg.link__graphic.link__graphic--slide(width='300%' height='100%' viewbox='0 0 1200 60' preserveaspectratio='none')
                path(d='M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0')
        a.link.link--iocaste(target="_blank" href="https://facebook.com/")
            span фейсбук
            svg.link__graphic.link__graphic--slide(width='300%' height='100%' viewbox='0 0 1200 60' preserveaspectratio='none')
                path(d='M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0')
    .inner-footer__langs
        a(href="#" class="inner-footer__lang-link") Українська
        a(href="#" class="inner-footer__lang-link") English
        a(href="#" class="inner-footer__lang-link") русский
