.container.overflow-hidden
    .text-style-1920-h-2 Благоустрій
    .infra-improvement-block.infra-improvement-block1#infrastructure-blagoustriy
        .infra-improvement-block1__text.text-style-1920-h-3 головною особливістю нашого кварталу є парк. Зелена зона Ріхерт&Парк буде займати 8 з 11 гектарів території комплексу. Вся територія буде розділена на дві частини: відкритий променад та закрите подвір’я. 
        .img-wrap
            .img.paralax-screen
                .paralax-screen-wrapper-transform 
                    .paralax-screen-wrapper-scale
                        img(src="./assets/images/infrastructure/improvement/1.jpg" alt="" srcset="")
    .infra-improvement-block.infra-improvement-block2
        .infra-improvement-block2__text1.text-style-1920-h-3 Відкритий променад
        .infra-improvement-block2__text2.text-style-1920-body           променад буде відкритим для всіх киян та гостей міста. Це паркова чистина комплексу, де буде знаходитись велика прогулянкова зона, активні спортивні та дитячі майданчики, ресторани та кав’ярні, магазини і інші цікаві заклади.  Справжній Централ Парк на Подолі де на тебе буде чекати активний відпочинок з друзями чи сім’єю. 
        .img-wrap
            .img.paralax-screen
                .paralax-screen-wrapper-transform 
                    .paralax-screen-wrapper-scale
                        img(src="./assets/images/infrastructure/improvement/2.jpg" alt="" srcset="")
    .infra-improvement-block.infra-improvement-block3
        .infra-improvement-block3__text1.text-style-1920-h-3 Затишне подвір’я
        .infra-improvement-block3__text2.text-style-1920-body           прибудинкова територія комплексу буде закритою і доступною тільки для жителів будинку. Це справжня тиха гавань. Спокійне, затишне і зелене подвір’я без машин, наповнене невеликими спортивними та дитячими майданчиками, лише для тебе та твоєї сім’ї. 
        .img-wrap
            .img.paralax-screen
                .paralax-screen-wrapper-transform 
                    .paralax-screen-wrapper-scale
                        img(src="./assets/images/infrastructure/improvement/3.jpg" alt="" srcset="")
    .infra-improvement-block.infra-improvement-block4#infrastructure-festival
        .infra-improvement-block4__text1.text-style-1920-h-3 Фестивальна площа
        .infra-improvement-block4__text2.text-style-1920-body            ще один відкритий простір, доступний для всіх – фестивальна площа. Це громадське місце біля заводу з гранд сходами, які утворюють справжній амфітеатр зі сценою. А біля відреставрованої труби заводу облаштують сухий фонтан (той, який в рівень із землею), щоб в спекотні дні прохолоду дарували не лише тіні дерев.
        .img-wrap
            .img.paralax-screen
                .paralax-screen-wrapper-transform 
                    .paralax-screen-wrapper-scale
                        img(src="./assets/images/infrastructure/improvement/4.jpg" alt="" srcset="")
    .infra-improvement-block.infra-improvement-block5#infrastructure-lake
        .infra-improvement-block5__text1.text-style-1920-h-3 Озеро
        .infra-improvement-block5__text2.text-style-1920-body Хочеш, спускайся до самої води, а хочеш, залітай на оглядовий майданчик та споглядай на воду зверху. Саме тут, вздовж схилу, бере свій початок еко-стежка.
        .infra-improvement-block5__text3.text-style-1920-body Який же парк без водойми? Блакитне серце кварталу – озеро. Раніше – це неглибокий кар’єр зі стрімкими схилами, тут видобували глину для цегли, яку виробляли на заводі Ріхерта. Тепер - безпечне озеро з укріпленими берегами для посиденьок на березі, чи відпочинку на пляжі.
        .img-wrap
            .img.paralax-screen
                .paralax-screen-wrapper-transform 
                    .paralax-screen-wrapper-scale
                        img(src="./assets/images/infrastructure/improvement/5.jpg" alt="" srcset="")
    .infra-improvement-block.infra-improvement-block6#infrastructure-eco-road
        .infra-improvement-block6__text1.text-style-1920-h-3 Еко-стежка
        .infra-improvement-block6__text2.text-style-1920-body Еко-стежка бере свій початок біля озера і простягається до самої вершини Юрковиці, де завершується оглядовим майданчиком. 
        .infra-improvement-block6__text3.text-style-1920-body Концепція стежки зрозуміла і проста – максимальне єднання з природою. Для цього ми розчистимо гору від сміття і прокладемо стежку таким чином, щоб не порушить еко-систему гори, щоб жодне дерево чи кущик не був зачеплений.
        .img-wrap
            .img.paralax-screen
                .paralax-screen-wrapper-transform 
                    .paralax-screen-wrapper-scale
                        img(src="./assets/images/infrastructure/improvement/6.jpg" alt="" srcset="")
    .infra-improvement-block.infra-improvement-block7
        .img-wrap1
            .img.paralax-screen
                .paralax-screen-wrapper-transform 
                    .paralax-screen-wrapper-scale
                        img(src="./assets/images/infrastructure/improvement/7.jpg" alt="" srcset="")
        .img-wrap2
            .img.paralax-screen
                .paralax-screen-wrapper-transform 
                    .paralax-screen-wrapper-scale
                        img(src="./assets/images/infrastructure/improvement/8.jpg" alt="" srcset="")