.legend-wrapper
    
    <svg class="birdy legend-button-js" width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="24" height="24" transform="translate(0 0.808594)" fill="#6BC28A"/>
        <path d="M8 10.8086L11.2929 14.1015C11.6834 14.492 12.3166 14.492 12.7071 14.1015L16 10.8086" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
        </svg>

    ul.legend.opened.legend-js
        li 
            +img('infrastructure/markers/main.png').legend-icon
            span.text Рiхерт&Пark
        li 
            +img('infrastructure/markers/metro.svg').legend-icon
            span.text Метро
        li 
            +img('infrastructure/markers/kinder.svg').legend-icon
            span.text Дитсадки
        li 
            +img('infrastructure/markers/schools.svg').legend-icon
            span.text Школи
        li 
            +img('infrastructure/markers/university.svg').legend-icon
            span.text Університети
        li 
            +img('infrastructure/markers/green-zones.svg').legend-icon
            span.text Зелені зони
        li 
            +img('infrastructure/markers/markets.svg').legend-icon
            span.text Ринок
        li 
            +img('infrastructure/markers/cinema.svg').legend-icon
            span.text Кінотеатр