.cookie-popup(data-cookie-popup)
    .cookie-popup__title Політика файлів cookie
    .cookie-popup__text Ми використовуємо cookie-файли аби ви отримували лише актуальну інформацію. Надайте, будь-ласка, згоду, щоб покращити досвід користування
    .cookie-popup__button()  Надати згоду
    +img('cookie.svg')
