.language-popup(data-language-popup)
    .language-popup__content
        .language-popup__title Воу!
        .language-popup__text Чомусь пошукова система подумала, що вам потрібна саме російськомовна версія, але завдяки цьому повідомленню між вами та соловʼїною — всього один клік
        a.language-popup__link(href="") Українська
        a.language-popup__link(href="ru") Русский
        +img('rihert-logo.svg')