
extends ../layout/main
block variable
  -
    var title_page = 'business-real-estate'
    var id_page = 'id-page-business-real-estate'
    var class_page = 'class-page-business-real-estate'
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/business-real-estate.bundle.js')
block content
  +pageTitle('Нерухомість для бізнесу', 'green ')
  .container.business-real-estate-container
    .business-real-estate-item
      .business-real-estate-item__img
        +img('business-real-estate/img1.jpg')
      .business-real-estate-item__text
        .text-style-1920-h-3 Великий вибір планувань
        .text-style-1920-body Комерційні приміщення у Ріхерт&Парк можна придбати або орендувати. Великий вибір планувань та площ різних розмірів. Фасадні, дворівневі та звичайні. Для різного виду бізнесу: магазини, клініки, школи, спортклуби, коворкінги, ресторани, кафе та багато іншого. Залишай заявку на консультацію.
        a.button.button-bordered Обрати на 3D моделі
    .contact-with-avatar.business-real-estate-container-contact1
      .contact-with-avatar__avatar
        .contact-with-avatar__wrap
          +img('business-real-estate/nataliia.jpg')
      .contact-with-avatar__contact
        .contact-with-avatar__title Коваленко Наталія
        .contact-with-avatar__badge (відділ продажів)
        a(href='tel:+3800663396953').text-style-1920-body +380 (066) 339-69-53
        a(href='mailto:n.kovalenko@adev.in.ua').text-style-1920-body n.kovalenko@adev.in.ua
        button.button.button-bordered(data-form-wrapper-consultation-call) замовити консультацію
    .contact-with-avatar.business-real-estate-container-contact2
      .contact-with-avatar__avatar
        .contact-with-avatar__wrap
          +img('business-real-estate/maxim.jpg')
      .contact-with-avatar__contact
        .contact-with-avatar__title Прокопчук Максим:
        .contact-with-avatar__badge (відділ оренди)
        a(href='tel:+3800663396953').text-style-1920-body +380 (066) 339-69-53
        a(href='mailto:n.kovalenko@adev.in.ua').text-style-1920-body p.max@adev.in.ua
        button.button.button-bordered(data-form-wrapper-consultation-call) замовити консультацію
block footer
  include ../includes/inner-footer.pug
  include ../includes/footer-developer-block.pug

block header
  include ../includes/header.pug
  .form-wrapper(data-form-wrapper-consultation)
    .form-wrapper__curtains
        div 
        div 
        div 
        div 
        div 
    .form-wrapper__layout
        <svg class="form-wrapper__close" width="68" height="68" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M64 64L4 4M4 64L64 4L4 64Z" stroke="white" stroke-width="10"/>
            </svg>
        .h1 
            span замовити  консультацію
            div.border
        .subtitle  <span></span>Якщо у вас виникли питання, залиште свій номер і ми передзвонимо вам:
        <svg class="display-mobile-only" width="208" height="43" viewBox="0 0 208 43" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.28802 18.1493V28.7132C7.28802 30.2256 7.54287 31.1331 8.07571 31.4589C8.51589 31.7148 9.28041 31.901 10.3693 32.0173V33.2273C8.28422 32.9946 6.63934 32.855 5.45781 32.855C4.25311 32.855 2.60823 32.9713 0.523167 33.2273V32.0173C1.58886 31.901 2.35339 31.7148 2.81673 31.4589C3.07157 31.3193 3.25691 31.1331 3.34958 30.9004C3.53492 30.4583 3.60442 29.7137 3.60442 28.7132V4.51407C3.60442 3.00162 3.34958 2.09416 2.81673 1.7684C2.30705 1.48918 1.54253 1.30303 0.5 1.20996V0H10.6473C13.798 0 16.0684 0.814394 17.4353 2.44318C18.918 4.21158 19.6594 6.42208 19.6594 9.07467C19.6594 10.494 19.4277 11.8436 18.9412 13.1001C18.4778 14.3566 17.806 15.3804 16.972 16.125C15.5356 17.4746 13.5432 18.1493 11.0411 18.1493H7.28802ZM7.28802 16.6136H9.72059C11.5276 16.6136 12.8945 16.1715 13.7749 15.3106C15.1881 13.9145 15.9063 11.7971 15.9063 8.9118C15.9063 7.00379 15.5124 5.30519 14.7479 3.81602C13.937 2.2803 12.3617 1.51245 9.97543 1.51245H7.28802V16.6136Z" fill="#212721"/>
            <path d="M26.1462 1.14032C25.6597 0.605034 25.0805 0.34903 24.4086 0.34903C23.76 0.34903 23.2271 0.558487 22.7638 0.977403C22.2309 1.46614 21.9761 2.04797 21.9761 2.74616C21.9761 3.37453 22.1846 3.90981 22.5784 4.37528C23.0649 4.91056 23.6441 5.16656 24.3623 5.16656C24.9878 5.16656 25.5207 4.9571 25.984 4.53819C26.5169 4.07273 26.7717 3.4909 26.7717 2.76943C26.7717 2.14106 26.5632 1.5825 26.1462 1.14032Z" fill="#212721"/>
            <path d="M47.9004 32.2269V33.2274C46.1629 33.0413 44.7034 32.9715 43.545 32.9715C42.3635 32.9715 40.9039 33.0646 39.2359 33.2274V32.2269C40.5796 32.1338 41.2283 31.8313 41.2283 31.2496C41.2283 30.9239 41.0893 30.4585 40.8112 29.8768L37.6837 23.0126L34.1391 29.4347C33.6989 30.2026 33.4904 30.8075 33.4904 31.2496C33.4904 31.8081 34.1854 32.1338 35.5986 32.2269V33.2274C34.1159 33.0878 33.027 33.018 32.2857 33.018C31.7528 33.018 30.0616 33.1576 29.2971 33.2042C29.0422 33.2274 28.7874 33.2274 28.5557 33.2042C26.8877 33.0413 25.544 32.9482 24.5478 32.9482C23.4821 32.9482 21.9994 33.0413 20.146 33.2274V32.2269C21.0495 32.1571 21.6982 32.0175 22.1152 31.7848C22.5786 31.5289 22.8102 30.7843 22.8102 29.551V13.8449C22.8102 12.379 22.5786 11.518 22.092 11.2621C21.7445 11.0759 21.0959 10.9596 20.1692 10.9363V10.0987C22.3237 9.8427 24.3624 9.4006 26.2853 8.77235V29.551C26.2853 30.7843 26.517 31.5289 26.9572 31.7848C27.3047 31.971 27.8144 32.1106 28.4862 32.1804C28.8337 32.2269 29.1812 32.2269 29.5056 32.1571C29.7836 32.1106 30.1079 32.064 30.4555 31.9477C31.1041 31.6917 31.8455 30.8308 32.6795 29.3416L37.0118 21.5467L32.8649 12.5651C32.3783 11.4948 31.7528 10.8665 31.0115 10.6571C30.7103 10.564 30.2701 10.4942 29.7373 10.4942V9.49367C31.3821 9.67982 32.7954 9.7729 33.9306 9.7729C35.0889 9.7729 36.4558 9.67982 38.0543 9.49367V10.4942C36.8265 10.5873 36.2241 10.8898 36.2241 11.425C36.2241 11.6809 36.3863 12.1463 36.6875 12.7978L39.0505 17.9866L41.9464 12.8211C42.2708 12.2393 42.433 11.7507 42.433 11.3784C42.433 10.8665 41.7843 10.564 40.4869 10.4942V9.49367C41.7611 9.63328 42.8268 9.67982 43.7072 9.67982C44.5875 9.67982 45.6764 9.61002 46.9738 9.49367V10.4942C46.3019 10.5408 45.7691 10.6338 45.3984 10.7734C44.7729 11.0061 44.1705 11.6344 43.5913 12.6582L39.7224 19.4293L44.4254 29.6441C45.074 31.0402 45.8154 31.8546 46.6262 32.064C46.9043 32.1571 47.3444 32.2036 47.9004 32.2269Z" fill="#212721"/>
            <path d="M59.6925 25.4323H61.2678C61.0825 27.5497 60.4802 29.3413 59.484 30.8305C58.3024 32.6455 56.5649 33.5529 54.2945 33.5529C51.6302 33.5529 49.6147 32.343 48.2478 29.9231C46.9504 27.6195 46.3018 24.7575 46.3018 21.3138C46.3018 17.9166 46.9504 15.1011 48.2246 12.8441C48.9428 11.6108 49.8695 10.6568 51.0279 9.95877C51.9083 9.4236 52.9044 9.16765 54.0165 9.16765C55.476 9.16765 56.8197 9.67955 58.0244 10.7034C59.7156 12.1227 60.7582 14.7753 61.1288 18.6146C61.1983 19.1963 61.2447 19.9176 61.2447 20.8018H49.8464C49.8927 22.8495 49.9854 24.5015 50.1244 25.7115C50.6109 29.8533 52.1399 31.9009 54.7347 31.9009C56.2405 31.9009 57.3757 31.2959 58.1866 30.0627C58.9974 28.8294 59.5071 27.2937 59.6925 25.4323ZM57.7696 19.1265C57.6306 13.3327 56.3564 10.4241 53.9701 10.4241C53.0203 10.4241 52.2094 10.9593 51.5607 12.0064C50.634 13.449 50.1244 15.8224 49.9622 19.1265H57.7696Z" fill="#212721"/>
            <path d="M61.0131 10.8429V10.0052C62.9823 9.81908 64.743 9.49332 66.2489 9.07449C66.5037 10.0518 66.689 11.4479 66.8281 13.2628C68.0096 10.5404 69.6313 9.16757 71.7395 9.16757C73.9404 9.16757 75.7243 10.3543 77.0912 12.7276C78.4349 15.0545 79.0836 17.9165 79.0836 21.3369C79.0836 24.7807 78.4349 27.6659 77.1143 29.9928C75.7938 32.3429 74.0331 33.5063 71.8322 33.5063C70.6507 33.5063 69.6776 33.1806 68.89 32.5058C68.3108 32.0171 67.7316 31.2493 67.1524 30.1789V39.3001C67.1524 40.3938 67.3146 41.0918 67.6389 41.3943C67.9864 41.7433 68.7046 41.9295 69.8166 41.9993V42.9998C68.0096 42.7904 66.5037 42.6741 65.3222 42.6741C64.1406 42.6741 62.7043 42.7904 61.0131 42.9998V41.9993C61.7776 41.9527 62.3336 41.8364 62.7274 41.6735C63.0286 41.5339 63.2603 41.3943 63.3761 41.1849C63.5846 40.8591 63.7005 40.2309 63.7005 39.3001V13.8445C63.7005 12.2855 63.4456 11.4013 62.9128 11.1221C62.5653 11.0058 61.9398 10.8894 61.0131 10.8429ZM71.392 10.5637C70.2105 10.5637 69.2606 11.2385 68.5193 12.5648C67.5926 14.2866 67.1292 17.1254 67.1292 21.0577C67.1292 28.4105 68.5656 32.1102 71.4384 32.1102C74.1258 32.1102 75.4695 28.5501 75.4695 21.4533C75.4695 14.1935 74.1026 10.5637 71.392 10.5637Z" fill="#212721"/>
            <path d="M89.0222 10.9127V29.5507C89.0222 30.7839 89.2539 31.5285 89.7172 31.7845C90.1343 32.0171 90.7829 32.1567 91.6865 32.2265V33.2271C89.8099 33.0409 88.3504 32.9479 87.2847 32.9479C86.1958 32.9479 84.7363 33.0409 82.8829 33.2271V32.2265C83.7864 32.1567 84.4583 32.0171 84.8753 31.7845C85.3155 31.5285 85.5471 30.7839 85.5471 29.5507V10.9127H84.8058C83.7401 10.9127 82.9524 11.1454 82.4427 11.5875C81.933 12.0296 81.4697 12.8207 81.0758 13.9143C80.9137 14.3332 80.682 15.0545 80.3808 16.0783H79.3615L80.265 9.63293H94.3275L95.2311 16.0783H94.2117C93.6789 14.3099 93.2387 13.1465 92.9143 12.588C92.5668 11.983 92.173 11.5642 91.7791 11.3315C91.2695 11.0523 90.6208 10.9127 89.7867 10.9127H89.0222Z" fill="#212721"/>
            <path d="M154.238 0V1.20996C153.428 1.27976 152.825 1.3961 152.431 1.55898C151.991 1.72186 151.667 1.93128 151.481 2.2105C151.25 2.58279 151.134 3.35065 151.134 4.51407V28.7132C151.134 30.0628 151.319 30.9237 151.69 31.2495C152.084 31.6217 152.941 31.8777 154.215 31.994V33.204C152.177 32.9713 150.532 32.8317 149.327 32.8317C148.122 32.8317 146.454 32.948 144.369 33.204V31.994C145.319 31.901 146.014 31.7614 146.454 31.5519C146.755 31.4123 146.987 31.2262 147.103 31.0168C147.335 30.6445 147.474 29.8766 147.474 28.6899V4.81656C147.474 3.51353 147.335 2.69913 147.033 2.37338C146.686 1.97781 146.084 1.72186 145.226 1.60552C144.832 1.55898 143.813 1.53571 142.168 1.53571C140.268 1.53571 139.11 1.58225 138.67 1.67532C137.882 1.8382 137.373 2.11742 137.118 2.48972C136.886 2.88528 136.77 3.65314 136.77 4.81656V28.6899C136.77 30.0395 136.956 30.9004 137.326 31.2262C137.72 31.5985 138.577 31.8544 139.851 31.9708V33.1807C137.743 32.948 136.098 32.8084 134.894 32.8084C133.666 32.8084 132.021 32.9248 130.005 33.1807V31.9708C130.863 31.901 131.511 31.7614 131.928 31.5752C132.322 31.4356 132.577 31.2262 132.739 30.9935C132.971 30.5979 133.087 29.8301 133.087 28.6667V4.46753C133.087 3.11796 132.901 2.25703 132.531 1.93128C132.114 1.55898 131.28 1.30303 130.005 1.18669V0H154.238Z" fill="#212721"/>
            <path d="M170.71 31.7612V33.0642C169.784 33.2969 168.996 33.4132 168.347 33.4132C166.517 33.4132 165.475 32.0636 165.266 29.3412C164.2 32.1102 162.463 33.5063 160.1 33.5063C158.501 33.5063 157.181 32.9246 156.184 31.7844C155.165 30.5977 154.632 29.062 154.632 27.1773C154.632 24.6178 155.605 22.6399 157.574 21.2438C159.544 19.8477 161.93 18.917 164.733 18.4516V14.9381C164.733 13.0534 164.386 11.7969 163.691 11.1919C163.181 10.7498 162.532 10.5171 161.768 10.5171C160.795 10.5171 160.007 10.8429 159.405 11.4711C158.988 11.9132 158.779 12.4949 158.779 13.2395C158.779 13.4257 158.779 13.6351 158.802 13.8678C158.825 14.1935 158.825 14.4727 158.825 14.7054C158.825 16.1015 158.246 16.7996 157.088 16.7996C156.115 16.7996 155.652 16.2411 155.652 15.101C155.652 13.4722 156.323 12.0528 157.644 10.8661C158.895 9.74925 160.401 9.19081 162.138 9.19081C163.598 9.19081 164.872 9.60964 165.915 10.424C166.98 11.2617 167.675 12.4484 168 13.9841C168.139 14.752 168.208 15.799 168.208 17.1253V27.503C168.208 29.8531 168.44 31.226 168.903 31.6448C169.112 31.831 169.367 31.924 169.691 31.924C169.969 31.924 170.293 31.8775 170.71 31.7612ZM164.756 19.7314C163.32 20.0804 162.138 20.4993 161.212 21.0344C159.196 22.2211 158.2 24.1524 158.2 26.8283C158.2 28.6199 158.594 29.8997 159.405 30.6443C159.914 31.1096 160.517 31.3423 161.212 31.3423C163.575 31.3423 164.756 28.8991 164.756 24.0361V19.7314Z" fill="#212721"/>
            <path d="M169.714 10.8429V10.0052C171.683 9.81908 173.444 9.49332 174.95 9.07449C175.205 10.0518 175.39 11.4479 175.529 13.2628C176.711 10.5404 178.332 9.16757 180.441 9.16757C182.641 9.16757 184.425 10.3543 185.792 12.7276C187.136 15.0545 187.785 17.9165 187.785 21.3369C187.785 24.7807 187.136 27.6659 185.815 29.9928C184.495 32.3429 182.734 33.5063 180.533 33.5063C179.352 33.5063 178.379 33.1806 177.591 32.5058C177.012 32.0171 176.433 31.2493 175.853 30.1789V39.3001C175.853 40.3938 176.016 41.0918 176.34 41.3943C176.687 41.7433 177.406 41.9295 178.518 41.9993V42.9998C176.711 42.7904 175.205 42.6741 174.023 42.6741C172.842 42.6741 171.405 42.7904 169.714 42.9998V41.9993C170.479 41.9527 171.035 41.8364 171.428 41.6735C171.73 41.5339 171.961 41.3943 172.077 41.1849C172.286 40.8591 172.402 40.2309 172.402 39.3001V13.8445C172.402 12.2855 172.147 11.4013 171.614 11.1221C171.266 11.0058 170.641 10.8894 169.714 10.8429ZM180.093 10.5637C178.912 10.5637 177.962 11.2385 177.22 12.5648C176.294 14.2866 175.83 17.1254 175.83 21.0577C175.83 28.4105 177.267 32.1102 180.139 32.1102C182.827 32.1102 184.171 28.5501 184.171 21.4533C184.171 14.1935 182.804 10.5637 180.093 10.5637Z" fill="#212721"/>
            <path d="M193.762 23.9898V29.644C193.762 30.8074 193.993 31.5287 194.457 31.8312C194.851 32.0639 195.43 32.2268 196.171 32.2733V33.2506C194.503 33.0644 193.067 32.9714 191.908 32.9714C190.773 32.9714 189.337 33.0644 187.622 33.2506V32.25C188.526 32.1802 189.175 32.0406 189.592 31.8079C190.055 31.552 190.287 30.8074 190.287 29.5742V13.1467C190.287 11.9135 190.055 11.1689 189.592 10.9129C189.175 10.6802 188.503 10.5406 187.622 10.4708V9.47028C189.337 9.65642 190.773 9.7495 191.908 9.7495C193.09 9.7495 194.503 9.65642 196.171 9.47028V10.4708C195.43 10.5174 194.851 10.657 194.457 10.9129C193.993 11.1921 193.762 11.9367 193.762 13.1001V21.8723L199.808 13.6586C200.434 12.7977 200.758 12.1229 200.758 11.6575C200.758 11.006 200.04 10.6104 198.581 10.5174V9.51681C199.924 9.67969 201.129 9.7495 202.195 9.7495C203.284 9.7495 204.604 9.67969 206.133 9.51681V10.5174C205.114 10.6337 204.349 10.8431 203.863 11.1223C203.376 11.4016 202.82 11.9833 202.148 12.8675L197.955 18.4286L203.955 29.5509C204.558 30.6445 205.044 31.3658 205.415 31.6916C205.762 31.9941 206.457 32.1802 207.5 32.25V33.2506C205.739 33.0877 204.396 33.0179 203.446 33.0179C202.496 33.0179 201.129 33.0877 199.368 33.2506V32.2733C199.6 32.25 199.762 32.2268 199.855 32.2035C200.828 32.1337 201.291 31.8545 201.291 31.4124C201.291 31.203 201.152 30.8307 200.851 30.2955L195.893 21.1975L193.762 23.9898Z" fill="#212721"/>
            <path d="M123.333 18.1727C124.028 17.0093 124.677 16.2647 125.325 15.9157C125.928 15.5899 126.669 15.4271 127.526 15.4038L127.92 13.8914H120.831L120.437 15.4038C121.364 15.4503 121.92 15.7528 122.059 16.3113C122.198 16.8697 121.85 17.9168 120.947 19.4525C118.931 22.7101 117.541 24.9206 116.73 25.9676L116.522 26.2701L113.394 14.985L113.51 14.9152C117.101 12.4487 119.348 9.67977 120.206 6.70142C120.669 4.90975 120.669 3.46711 120.159 2.3735C119.65 1.30315 118.584 0.791245 116.846 0.791245C114.367 0.791245 112.12 2.11754 110.244 4.74687C108.344 7.35293 107.927 10.4942 108.923 14.031L109.525 16.1717L109.386 16.2647C104.475 19.0802 101.37 22.6635 100.212 26.8518C99.5403 29.3881 99.8183 31.4357 101.046 32.8551C102.274 34.2977 103.965 35.0423 106.073 35.0423C108.552 35.0423 111.124 33.8324 113.649 31.4357L113.835 31.2496L113.95 31.5055C114.854 33.8556 116.8 35.0423 119.719 35.0423C122.499 35.0423 124.213 33.9254 124.885 31.6684H123.403C123.194 32.2967 122.847 32.762 122.337 33.0645C121.827 33.3903 121.248 33.5532 120.646 33.5532C119.858 33.5532 119.232 33.3205 118.769 32.9016C118.329 32.4595 117.958 31.6684 117.611 30.4817L116.893 27.8757L116.962 27.8059C118.422 25.9909 120.553 22.7566 123.333 18.1727ZM112.398 7.28313C112.699 5.67761 113.209 4.44438 113.95 3.58345C114.669 2.74579 115.503 2.30369 116.406 2.30369C117.147 2.30369 117.727 2.55964 118.074 3.02501C118.653 3.79287 118.653 5.1657 118.074 7.21332C117.263 9.95899 115.688 12.216 113.325 13.9146L113.139 14.0542L112.908 13.2631C112.259 10.913 112.097 8.88865 112.398 7.28313ZM113.394 29.8535C111.402 31.6917 109.479 32.6224 107.742 32.6224C106.189 32.6224 105.031 31.9709 104.336 30.6679C103.641 29.3881 103.595 27.6197 104.22 25.3859C105.216 21.7793 107.046 19.0569 109.618 17.3118L109.827 17.1722L113.464 29.7837L113.394 29.8535Z" fill="#212721"/>
        </svg>
        form(data-form)
            .form-field.form-field-input(data-field-input data-field-name data-status="field--inactive")
                input( autocomplete="off" type='text' name="name" placeholder="Ім’я:").form-field__input
                .input-message(data-input-message)
                .input-placeholder Ваше ім’я
            .form-field.disabled.form-field-input(data-field-input data-field-phone data-status="field--inactive")
                input( autocomplete="off" type='text' name="phone" placeholder="Телефон:").form-field__input
                .input-message(data-input-message)
                .input-placeholder Ваш телефон
                .mask-absolute.js-mask-absolute
            .form-field.disabled.form-field-input(data-field-input data-field-message data-status="field--inactive")
                input( autocomplete="off" type='text' name="message" placeholder="Бажана площа:").form-field__input
                .input-message(data-input-message)
                .input-placeholder Бажана площа
            label.form-field.form-field--checkbox.disabled.form-field-input(data-field-input data-field-agreement data-status="field--inactive" for="callback-agree3")
                .input-message(data-input-message)
                .checkbox
                    input#callback-agree3(type="checkbox", name="agreement" value="1")
                    .checkbox__label
                    .checkbox__bg
                div 
                    | Я згоден(а) з умовами 
                    button(data-agreement-popup-call type="button").link.link--iocaste
                        span політики конфіденційності
                        svg.link__graphic.link__graphic--slide(width='300%' height='100%' viewbox='0 0 1200 60' preserveaspectratio='none')
                            path(d='M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0')
            button.button(type="submit" data-btn-submit) 
                span(data-btn-submit-text) Замовити консультацію
        .form-wrapper__logo
            +svg('logo')
    div.border