extends ../layout/main
block variable
block meta
  title= 'Главная'
  meta(name='description' content='')
block head
  link(rel='stylesheet' href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/index-app.bundle.js')
  script(defer src='./assets/scripts/home.bundle.js')
block content
  //- .scroller-container
  .screen1.screen(data-scroll-section)
    .screen1__inner
      h1.h1 
        <span>Новий</span> <span>квартал</span> <span>1895</span> <span> року</span>
        <svg width="375" height="24" viewBox="0 0 375 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M385.041 23.1851L-129.862 1.00022" stroke="black" stroke-width="0.35782"/>
          </svg>
      <svg class="screen1__decor" width="1442" height="377" viewBox="0 0 1442 377" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1463 164.51L-10 153.003" stroke="black"/>
        <path d="M1463 63.002L-10 0.999348" stroke="black"/>
        <path d="M1463 347.511L-10 366.003" stroke="black"/>
        <path d="M711.457 31.5059L711.457 357.006" stroke="black"/>
        <image width="450" height="187" data-src="" data-href="./assets/images/screen1/img.png" data-href-mob="./assets/images/screen1/img-mob.png" xlink:href="#" x="990" y="158">
        </svg>

  .screen2.screen(id="info" data-scroll-section)
    .screen2__title 
      .screen-mini-subtitle ІНФО
      .h2 Новий житловий комплекс і громадський простір, що будується на Подолі
    +img('screen2/img.jpg')
  //- #sectionPin 
  //-   .pin-wrap
  //-     .screen3__first
  //-       <svg preserveAspectRatio="xMinYMin meet" width="2637" height="794" viewBox="0 0 2637 794" fill="none" xmlns="http://www.w3.org/2000/svg">
  //-         <path data-screen3-side-line d="M 1434.5 782.691 L 1425.5 6.18945" stroke="black" stroke-miterlimit="10"/>
  //-         <path data-screen3-side-line d="M 501.499 789.191 L 495.499 10.1934" stroke="black" stroke-miterlimit="10"/>
  //-         <path  d="M 2636.5 773.691 L 2628.5 1.19141" stroke="black" stroke-miterlimit="10"/>
  //-         <path d="M1 12L2629 1.06444" stroke="black" stroke-miterlimit="10"/>
  //-         <path data-screen3-bottom-line d="M 1.5 793.5 L 2636 773.192" stroke="black" stroke-miterlimit="10"/>
  //-         <path d="M50.9663 404.282L68.2727 241.491L116.571 194.076L302.208 157.383L345.124 1.17537" stroke="black" stroke-miterlimit="10"/>
  //-         </svg>
  //-       .screen3__first-1
  //-       .screen3__first-2
  //-         .screen3__title  <span class="screen3__title-empty-space"></span>Це — територія колишнього пивоварного заводу імені Ріхерта
  //-         +img('screen3/img.jpg')
  //-         .screen3__text   колись тут і цеглу робили, і солод виготовляли.
  //-         .screen3__text  потім довший час це місце залишалось занедбаним і пустим.  
  //-       .screen3__first-3
  //-         .screen3__title   <span class="screen3-subtitle">ХVII</span> Спочатку ТУТ БУЛА цеглянА ФАБРИКА МОНАСТИРЯ
  //-         .screen3__text    ця фабрика довгий час залишалася невеликим підприємством – аж до XIX ст., поки вона не перейшла до нового власника. Ним став купець Михайло Ріхерт. Саме він розширив фабрику та перетворив її на повноцінний завод.
  //-         +img('screen3/brick.png').screen3__first-3-brick
  //-         .screen3__first-3-rihter-photo
  //-           +img('screen3/rihter-foto.png')
  //-           div МИХАЙЛО РІХТЕР


  .screen5(id="history" data-scroll-section)
    include home/screen5.pug
  .screen6.screen(data-scroll-section)
    .screen6__inner
      +img('screen6.jpg')
  .screen7.screen(data-scroll-section)
    .screen7__inner
      .screen7-title &#9;Тепер це місце віднайде свою форму   <img src='./assets/images/screen7/img.png'>  та своїх людей, які наповнять його новими історіями.
      //- +img('screen7.jpg')
  include home/screen8.pug
  include home/screen9.pug
  include home/screen10.pug
  include home/screen11.pug
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
