extends ../layout/main
block variable
block meta
  title= 'Главная'
  meta(name='description' content='')
block head
  link(rel='stylesheet' href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/home.bundle.js')
block content
  //- .scroller-container
  .screen1.screen
    h1 Новий квартал 1895 року
    +img('screen1-bottom.jpg')
  .screen2.screen
    h1 Новий відкритий житловий комплекс і громадський простір, що будується на Подолі
    +img('screen2.jpg')
  #sectionPin 
    .pin-wrap
      <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
      +img('hor1.jpg')
      +img('hor2.jpg')
  .screen5 
    //- h1 Новий відкритий житловий комплекс і громадський простір, що будується на Подолі
    +img('screen5.jpg')
  .screen6.screen
    .screen6__inner
      +img('screen6.jpg')
  .screen7.screen
    .screen7__inner
      +img('screen7.jpg')
  .screen8.screen
    .screen7__inner
      +img('screen8.jpg')
  .screen9.screen
    .screen7__inner
      +img('screen9.jpg')
  .screen10.screen
    .screen7__inner
      +img('screen10.jpg')
  .screen11.screen
    .screen7__inner
      +img('screen10.jpg')
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
