extends ../layout/main
block variable
block meta
  title= 'Главная'
  meta(name='description' content='')
block head
  link(rel='stylesheet' href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/home.bundle.js')
block content
  //- .scroller-container
  .screen1.screen
    h1.h1 <span>Новий квартал</span> <span>1895</span> <span> року</span>
    //- +img('screen1-bottom.jpg')
    <svg class="screen1__decor" width="1442" height="377" viewBox="0 0 1442 377" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1463 164.51L-10 153.003" stroke="black"/>
      <path d="M1463 63.002L-10 0.999348" stroke="black"/>
      <path d="M1463 347.511L-10 366.003" stroke="black"/>
      <path d="M711.457 31.5059L711.457 357.006" stroke="black"/>
      <image width="450" height="187" xlink:href="./assets/images/screen1/img.png" x="990" y="158">
      </svg>

  .screen2.screen
    .screen2__title 
      .screen-mini-subtitle ІНФО
      .h2 Новий відкритий житловий комплекс і громадський простір, що будується на Подолі
    +img('screen2/img.jpg')
  #sectionPin 
    .pin-wrap
      .screen3__first
        .screen3__first-left
          <svg preserveAspectRatio="xMinYMin meet" width="716" height="796" viewBox="0 0 716 796" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M715.5 1500L701 0" stroke="black" stroke-miterlimit="10"/>
            <path d="M0.015625 14.5L702 14.5" stroke="black" stroke-miterlimit="10"/>
            <path data-screen3-first-svg-line d="M-5 794.673 L 715 794.673" stroke="black" stroke-miterlimit="10"/>
            <path d="M302.964 404.09L320.271 241.299L368.569 193.884L554.206 157.191L597.122 0.983477" stroke="black" stroke-miterlimit="10"/>
          </svg>
        .screen3__first-right
          .screen3__title  <span class="screen3__title-empty-space"></span>Це — територія колишнього пивоварного заводу імені Ріхерта
          .screen3__text   колись тут і цеглу робили, і солод виготовляли.
          .screen3__text  потім довший час це місце залишалось занедбаним і пустим.  
      +img('hor1.jpg')
      +img('hor2.jpg')
  .screen5 
    //- h1 Новий відкритий житловий комплекс і громадський простір, що будується на Подолі
    +img('screen5.jpg')
  .screen6.screen
    .screen6__inner
      +img('screen6.jpg')
  .screen7.screen
    .screen7__inner
      +img('screen7.jpg')
  .screen8.screen
    .screen7__inner
      +img('screen8.jpg')
  .screen9.screen
    .screen7__inner
      +img('screen9.jpg')
  .screen10.screen
    .screen7__inner
      +img('screen10.jpg')
  .screen11.screen
    .screen7__inner
      +img('screen11.jpg')
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
