
extends ../layout/main
block variable
  -
    var title_page = 'news'
    var id_page = 'id-page-news'
    var class_page = 'class-page-news'
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/news.bundle.js')
block content
  +pageTitle("Новини")
  .page-title-nav
    .page-title-nav__item.active(data-news-filter="all") Усі
    .page-title-nav__item(data-news-filter="news") Новини
    .page-title-nav__item(data-news-filter="promotions") Акції
  .container.news-container(data-news-list)
    - 
      var newsCards = [
        {
          date: '01.02.2022',
          imageSrc: './assets/images/screen9/2.jpg',
          title: 'Динаміка розвитку компанії говорить сама за себе, буквально за три роки команда на 100% реалізувала три об’єкти.'
        },
        {
          date: '01.02.2022',
          imageSrc: './assets/images/screen9/2.jpg',
          title: 'Динаміка розвитку компанії говорить сама за себе, буквально за три роки команда на 100% реалізувала три об’єкти.'
        },
        {
          date: '01.02.2022',
          imageSrc: './assets/images/screen9/2.jpg',
          title: 'Динаміка розвитку компанії говорить сама за себе, буквально за три роки команда на 100% реалізувала три об’єкти.'
        },
        {
          date: '01.02.2022',
          imageSrc: './assets/images/screen9/2.jpg',
          title: 'Динаміка розвитку компанії говорить сама за себе, буквально за три роки команда на 100% реалізувала три об’єкти.'
        },
        {
          date: '01.02.2022',
          imageSrc: './assets/images/screen9/2.jpg',
          title: 'Динаміка розвитку компанії говорить сама за себе, буквально за три роки команда на 100% реалізувала три об’єкти.'
        },
        {
          date: '01.02.2022',
          imageSrc: './assets/images/screen9/2.jpg',
          title: 'Динаміка розвитку компанії говорить сама за себе, буквально за три роки команда на 100% реалізувала три об’єкти.'
        },
        {
          date: '01.02.2022',
          imageSrc: './assets/images/screen9/2.jpg',
          title: 'Динаміка розвитку компанії говорить сама за себе, буквально за три роки команда на 100% реалізувала три об’єкти.'
        },
        {
          date: '01.02.2022',
          imageSrc: './assets/images/screen9/2.jpg',
          title: 'Динаміка розвитку компанії говорить сама за себе, буквально за три роки команда на 100% реалізувала три об’єкти.'
        },
        {
          date: '01.02.2022',
          imageSrc: './assets/images/screen9/2.jpg',
          title: 'Динаміка розвитку компанії говорить сама за себе, буквально за три роки команда на 100% реалізувала три об’єкти.'
        },
        {
          date: '01.02.2022',
          imageSrc: './assets/images/screen9/2.jpg',
          title: 'Динаміка розвитку компанії говорить сама за себе, буквально за три роки команда на 100% реалізувала три об’єкти.'
        },
        // Add more news card objects here
      ]
    each card in newsCards
      .news-card
        .news-card__date #{card.date}
        .news-card__img
          img(src=card.imageSrc, alt='news')
        .news-card__text
          .news-card__title #{card.title}
          svg(width="69" height="69" viewBox="0 0 69 69" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M4 65L64 5M64 5H4M64 5V65" stroke="#93C7E8" stroke-width="10")

  .container.news-more-container
    button.button-bordered(data-more-news) Показати більше

block footer
  include ../includes/inner-footer.pug
  include ../includes/footer-developer-block.pug

block header
  include ../includes/header.pug
