
extends ../layout/main
block variable
  -
    var title_page = 'temp'
    var id_page = 'id-page-temp'
    var class_page = 'class-page-temp'
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
block content
  .temp-fixed-menu
    //- .temp-fixed-menu-subtitle Скоро старт продажу
    +svg('logo')
    a(href="tel:380443346460") 044 334 64 60
    a(href="https://www.facebook.com/rihert.and.park" target='_blank') facebook
    a(href="https://www.instagram.com/rihert.and.park/" target='_blank') instagram
  .screen1.screen.temp-fixed-screen
    h1.h1 <span>Новий</span> <span>квартал</span> <span>1895</span> <span> року</span>
    //- +img('screen1-bottom.jpg')
    <svg preserveAspectRatio="xMaxYMax meet" class="screen1__decor" width="1441" height="419" viewBox="0 0 1441 419" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <text x="17" y="58" class="temp-fixed-menu-subtitle">Скоро старт  </text>
      <text x="17" y="101" class="temp-fixed-menu-subtitle"> продажу </text>
      <path d="M1416.71 14.3127L1423.36 389.427L483.521 400.668L484.788 165.024L516.126 122.142V90.5014L576.588 8.48425L1416.71 14.3127Z" fill="url(#pattern0)"/>
      <path d="M1440.79 389.386L1.49995 408" stroke="black" stroke-width="2.05332"/>
      <path d="M1440.79 13.6259L1.00001 2" stroke="black" stroke-width="2.05332"/>
      <defs>
      <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
      <use xlink:href="#image0_23_1458" transform="translate(0 -0.188974) scale(0.00025 0.000599108)"/>
      </pattern>
      <image id="image0_23_1458" width="4000" height="2300" xlink:href="./assets/images/temp/render.png">
      </defs>
      </svg>

    //- <svg class="screen1__decor" width="1442" height="377" viewBox="0 0 1442 377" fill="none" xmlns="http://www.w3.org/2000/svg">
    //-   <path d="M1463 164.51L-10 153.003" stroke="black"/>
    //-   <path d="M1463 63.002L-10 0.999348" stroke="black"/>
    //-   <path d="M1463 347.511L-10 366.003" stroke="black"/>
    //-   <path d="M711.457 31.5059L711.457 357.006" stroke="black"/>
    //-   <image width="450" height="187" xlink:href="./assets/images/temp/render.png" x="990" y="0">
    //-   </svg>
block footer
block header
