.screen9.screen
    .screen9__inner
        .map
            +img('screen9/mini.jpg')
            div 
                +img('screen9/map/Rectangle 13.jpg')
                span FIRST POINT COFFEE
            div 
                +img('screen9/map/Rectangle 13-1.jpg')
                span ART CENTER 41
            div 
                +img('screen9/map/Rectangle 13-2.jpg')
                span М. ТАРАСА ШЕВЧЕНКО –10 ХВ
            div 
                +img('screen9/map/Rectangle 13-4.jpgg')
                span CLOSER
            div 
                +img('screen9/map/Rectangle 13-5.jpg')
                span ОЗЕРО НА ТЕРИТОРІЇ
            div 
                +img('screen9/map/Rectangle 13-6.jpg')
                span РЕНОВАНА БУДІВЛЯ ЗАВОДУ
            div 
                +img('screen9/map/Rectangle 13-7.jpg')
                span М. ПОШТОВА ПЛОЩА – 30 ХВ
            div 
                +img('screen9/map/Rectangle 13-8.jpg')
                span М. Контрактова площа  – 20 ХВ
        .h1.title <span class="screen9-sub-item">(НАВКОЛО)</span>Культурний центр міста
        .screen9-switcher.photo
            +img('screen9/switch.jpg')
        ul.screen9-list.legend
            li(data-src="./assets/images/screen9/1.jpg") ESPRESSOHOLIC <span class="sub-item">10 хв</span>
            li(data-src="./assets/images/screen9/2.jpg") CLOSER <span class="sub-item">10 хв</span>
            li(data-src="./assets/images/screen9/mini.jpg") BEER ONLINE <span class="sub-item">10 хв</span>
            li(data-src="./assets/images/screen9/switch.jpg") DMYTRUK  <span class="sub-item">10 хв</span>
            li(data-src="./assets/images/screen9/1.jpg") GALLERY <span class="sub-item">10 хв</span>
            li(data-src="./assets/images/screen9/1.jpg") BOARD SHOP <span class="sub-item">10 хв</span>
            li(data-src="./assets/images/screen9/1.jpg") KYIV-MOHYLA  <span class="sub-item">10 хв</span>
            li(data-src="./assets/images/screen9/1.jpg") ACADEMY <span class="sub-item">10 хв</span>
            li(data-src="./assets/images/screen9/1.jpg") ЖИТНІЙ РИНОК <span class="sub-item">10 хв</span>