.screen11.screen
    .screen11__inner
        //- +img('screen11.jpg')
        .empty-block1        
        .empty-block2        
        .text <span class="screen11-delimiter"></span>ЯКЩО ПРОЕКТ ЗАЦІКАВИВ ВАС З БУДЬ-ЯКИХ ПРИЧИН – ЗВ’яжіться з нами у будь-який зручний для вас спосіб
        ul.screen11__links
            li 
                a(href="tel:0443346460" data-title="ТЕЛЕФОН") ТЕЛЕФОН
            li 
                a(href="#" data-title="КОЛБЕК") КОЛБЕК
            li 
                a(href="#" data-title="ПОШТА") ПОШТА
            li 
                a(href="https://www.instagram.com/rihert.and.park/" data-title="ІНСТАГРАМ") ІНСТАГРАМ
            li 
                a(href="#" data-title="ТЕЛЕГРАМ") ТЕЛЕГРАМ
            li 
                a(href="#" data-title="ТІКТОК") ТІКТОК
            li 
                a(href="https://www.facebook.com/rihert.and.park/" data-title="ФЕЙСБУК") ФЕЙСБУК