.screen9.screen
    .screen9__inner
        +img('screen9/mini.jpg').map
        .h1.title <span class="screen9-sub-item">(НАВКОЛО)</span>Культурний центр міста
        .screen9-switcher.photo
            +img('screen9/switch.jpg')
        ul.screen9-list.legend
            li ESPRESSOHOLIC <span class="sub-item">10 хв</span>
            li CLOSER <span class="sub-item">10 хв</span>
            li BEER ONLINE <span class="sub-item">10 хв</span>
            li DMYTRUK  <span class="sub-item">10 хв</span>
            li GALLERY <span class="sub-item">10 хв</span>
            li BOARD SHOP <span class="sub-item">10 хв</span>
            li KYIV-MOHYLA  <span class="sub-item">10 хв</span>
            li ACADEMY <span class="sub-item">10 хв</span>
            li ЖИТНІЙ РИНОК <span class="sub-item">10 хв</span>