.screen11.screen(id="contacts" )
    .screen11__inner
        //- +img('screen11.jpg')
        .empty-block1        
        .empty-block2        
        .text 
            //- <span class="screen11-delimiter"></span>
            div.screen11__title &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;          якщо проєкт зацікавив вас – зв’яжіться з нами у будь-який зручний для вас спосіб
            .map
                <iframe src="https://www.google.com/maps/d/embed?mid=1gCVMK8zKTiIRqw_AMtChroYwIrC7l6c&ehbc=2E312F" width="640" height="480"></iframe>
            div.screen11__title-small Відділ продажів
            .map-title вул. Кирилівська, 35
            a(target='_blank' href=projectLocation).button.button-bordered Відкрити у навігаторі
        ul.screen11__links
            li 
                a(href="tel:067 936 87 09" data-title="067 936 87 09").text-style-1920-h-2 067 936 87 09
            li 
                a(href="#" data-title="КОЛБЕК" data-callback-form-wrapper-call).text-style-1920-h-2 КОЛБЕК
            li 
                a(href="#" data-title="ПОШТА").text-style-1920-h-2 ПОШТА
            li 
                a(target="_blank" href="https://www.instagram.com/rihert.and.park/" data-title="ІНСТАГРАМ").text-style-1920-h-2 ІНСТАГРАМ
            li 
                a(target="_blank" href="https://www.facebook.com/rihert.and.park/" data-title="ФЕЙСБУК").text-style-1920-h-2 ФЕЙСБУК
        include ../../includes/footer.pug