.screen10.screen(id="developer" data-scroll-section)
    .screen10__inner
        .screen10__inner-left
            .screen-viewer Забудовник
        .screen10__inner-right
            .right-bg
            .screen10__inner-right-content
                .h1 A-DEVELOPMENT
                .button-wrap
                    a(href="https://adevelopment.ua/" target='_blank').button 
                        span САЙТ ЗАБУДОВНИКА
                .subtitle <span class="screen10-tab"></span>ДЕВЕЛОПЕР, ВІДПОВІДАЛЬНИЙ ЗА РЕКОНСТРУКЦІЮ  І РЕНОВАЦІЮ ВІЙСЬКОВОЇ КОМЕНДАТУРИ НА АРСЕНАЛЬНій та створення будівль CREATIVE STATES тА  KYIV FOOD MARKET
                ul.projects-list
                    li 
                        a(href="#") A-STATION 
                            +img('screen10/image 10.jpg')
                    li 
                        a(href="https://whitelines.com.ua/" target='_blank') WHITE LINES
                            +img('screen10/image 11.jpg')
                    li 
                        a(href="https://smartplazapolytech.com/" target='_blank') SMART PLAZA POLYTECH
                            +img('screen10/image 11.jpg')
                    li 
                        a(href="https://smartplazaobolon.com.ua/" target='_blank') SMART PLAZA OBOLON
                            +img('screen10/image 9.jpg')
                .text 100% успішних проєктів - досягнення компанії говорять самі за себе. За короткий показовий період згуртована команда девелопера довела високу ефективність, виконала обіцянки і здобула репутацію надійного партнера.
