.screen5__inner
    //- <svg width="1341" height="1491" viewBox="0 0 1341 1491" fill="none" xmlns="http://www.w3.org/2000/svg">
    //-     <path d="M815.112 1906.62L771.981 -1848.71" stroke="black" stroke-width="0.445474" stroke-miterlimit="10"/>
    //-     <path d="M398.933 2406.67L364.107 -1842.99" stroke="black" stroke-width="0.445474" stroke-miterlimit="10"/>
    //-     <path d="M1340.47 1043.78L1325.34 -347.359" stroke="black" stroke-width="0.445474" stroke-miterlimit="10"/>
    //-     <path d="M-217.252 6.33643L1737.81 -2.26088" stroke="black" stroke-width="0.445474" stroke-miterlimit="10"/>
    //-     <path d="M67.1387 353.115L2369.44 336.152" stroke="black" stroke-width="0.445474" stroke-miterlimit="10"/>
    //-     <path d="M389.133 1047.31L2377.87 1036.18" stroke="black" stroke-width="0.445474" stroke-miterlimit="10"/>
    //-     <path d="M95.2837 720.491L2397.52 703.459" stroke="black" stroke-width="0.445474" stroke-miterlimit="10"/>
    //-     <path d="M-223.615 -1716.76L-134.671 -657.384L72.1907 349.634L146.349 1399.9" stroke="black" stroke-width="0.445474" stroke-miterlimit="10"/>
    //-     <path d="M2270.08 144.629L1093.75 -1043.72" stroke="black" stroke-width="0.445474" stroke-miterlimit="10"/>
    //-     <path d="M106.227 0.629203C106.298 -5.09321 114.479 -78.9441 114.479 -78.9441L164.901 -98.4599" stroke="black" stroke-width="0.445474" stroke-miterlimit="10"/>
    //-     <path d="M1333.29 261.682L1457.66 252.371L1474.52 273.379L1734.63 254.759" stroke="black" stroke-width="0.445474" stroke-miterlimit="10"/>
    //-     <path d="M1335.74 88.1221L1427.7 93.644L1434.71 165.847" stroke="black" stroke-width="0.445474" stroke-miterlimit="10"/>
    //-     <path d="M50.9724 250.53L125.013 245.523L143.273 272.724" stroke="black" stroke-width="0.445474" stroke-miterlimit="10"/>
    //-     <path d="M181.081 179.121L188.79 106.601L210.306 85.4796L293.002 69.1338L312.12 -0.452697" stroke="black" stroke-width="0.445474" stroke-miterlimit="10"/>
    //-     <path d="M720.436 -1.18119L720.435 165.939" stroke="black" stroke-width="0.445474" stroke-miterlimit="10"/>
    //-     <path d="M319.062 587.946L333.406 573.889L348.25 502.818L386.103 482.477" stroke="black" stroke-width="0.445474" stroke-miterlimit="10"/>
    //-     </svg>
    <svg width="396" class="screen5-left-column-svg" preserveAspectRatio="xMaxYMin meet" height="1412" viewBox="0 0 396 1412" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M392.5 1410.5L380.5 2.00056" stroke="black" stroke-width="0.445474" stroke-miterlimit="10"/>
        //- <path d="M68.7539 363.108L383.5 360.001" stroke="black" stroke-width="0.445474" stroke-miterlimit="10"/>
        //- <path d="M96.8989 730.485L386.5 728.001" stroke="black" stroke-width="0.445474" stroke-miterlimit="10"/>
        <path d="M0.5 2L73.8057 359.628L147.964 1409.89" stroke="black" stroke-width="0.445474" stroke-miterlimit="10"/>
        <path d="M52.5876 260.524L126.629 255.516L144.888 282.718" stroke="black" stroke-width="0.445474" stroke-miterlimit="10"/>
        <path d="M182.696 189.115L190.406 116.595L211.921 95.4735L294.617 79.1277L313.736 9.5412" stroke="black" stroke-width="0.445474" stroke-miterlimit="10"/>
        <path d="M320.677 597.94L335.021 583.882L349.866 512.812L387.718 492.47" stroke="black" stroke-width="0.445474" stroke-miterlimit="10"/>
        </svg>
    <svg class="screen5-horizontal-delimiters" width="2332" height="735" viewBox="0 0 2332 735" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 27.7068L2303.31 10.7438" stroke="black" stroke-width="0.445474" stroke-miterlimit="10"/>
        <path d="M322.994 721.9L2311.73 710.767" stroke="black" stroke-width="0.445474" stroke-miterlimit="10"/>
        <path d="M29.145 395.083L2331.38 378.051" stroke="black" stroke-width="0.445474" stroke-miterlimit="10"/>
        </svg>
    div 
    div 
        span.screen5-title Це — територія колишнього пивоварного заводу імені Ріхерта
        div.screen5-text колись тут і цеглу робили, і солод виготовляли.
        div.screen5-text потім довший час це місце залишалось занедбаним і пустим.  
    div  
        span.screen5-title <span class="screen5-title-sub-item">ХVII СТ</span>Спочатку ТУТ БУЛА цеглянА ФАБРИКА МОНАСТИРЯ
        div.screen5-text                ця фабрика довгий час залишалася невеликим підприємством – аж до XIX ст., поки вона не перейшла до нового власника. Ним став купець Михайло Ріхерт. Саме він розширив фабрику та перетворив її на повноцінний завод.
    div some41
    div   
        +img('screen5/img2-2.png')      
    div           
        span.screen5-title потім МИХАЙЛО РІХЕРТ побудував ТУТ броварню, ЩО ПРАЦЮВАЛА До 1916 Року
    div  
        
    div 
        span.screen5-subtitle Коли почалася Перша світова війна, у країні діяв «сухий закон». Тому Ріхерт вирішив випускати безалкогольні напої. Але це було безуспішно. 
    div        
        span.screen5-title <span class="screen5-title-sub-item">1916</span>ПІД ЧАС СВІТОВОЇ ВІЙНИ ЗАВОД ЗМІНИВ ПРОФІЛЬ І ЗБАНКРОТУВАВ      
    div    
    div   
        +img('screen5/img2-4.png')  
    div            
        span.screen5-title <span class="screen5-title-sub-item">1917-1982</span>В радянські часи ЗАВОД ВЖЕ НЕ ЗАпрацював на повну і ПОСТУПОВО ЗАНЕДБАВСЯ