.screen11.screen
    .screen11__inner
        //- +img('screen11.jpg')          
        .text ЯКЩО ПРОЕКТ ЗАЦІКАВИВ ВАС З БУДЬ-ЯКИХ ПРИЧИН – ЗВ’яжіться з нами у будь-який зручний для вас спосіб
        ul.screen11__links
            li 
                a(href="#") ТЕЛЕФОН
            li 
                a(href="#") КОЛБЕК
            li 
                a(href="#") ПОШТА
            li 
                a(href="#") ІНСТАГРАМ
            li 
                a(href="#") ТЕЛЕГРАМ
            li 
                a(href="#") ТІКТОК
            li 
                a(href="#") ФЕЙСБУК