.screen9.screen
    .screen9__inner
        +img('screen9/mini.jpg').map
        .h1.title <span class="screen9-sub-item">(НАВКОЛО)</span>Культурний центр міста
        .screen9-switcher.photo
            +img('screen9/switch.jpg')
        ul.screen9-list.legend
            li(data-src="./assets/images/screen9/1.jpg") ESPRESSOHOLIC <span class="sub-item">10 хв</span>
            li(data-src="./assets/images/screen9/2.jpg") CLOSER <span class="sub-item">10 хв</span>
            li(data-src="./assets/images/screen9/mini.jpg") BEER ONLINE <span class="sub-item">10 хв</span>
            li(data-src="./assets/images/screen9/switch.jpg") DMYTRUK  <span class="sub-item">10 хв</span>
            li(data-src="./assets/images/screen9/1.jpg") GALLERY <span class="sub-item">10 хв</span>
            li(data-src="./assets/images/screen9/1.jpg") BOARD SHOP <span class="sub-item">10 хв</span>
            li(data-src="./assets/images/screen9/1.jpg") KYIV-MOHYLA  <span class="sub-item">10 хв</span>
            li(data-src="./assets/images/screen9/1.jpg") ACADEMY <span class="sub-item">10 хв</span>
            li(data-src="./assets/images/screen9/1.jpg") ЖИТНІЙ РИНОК <span class="sub-item">10 хв</span>