.screen5__inner
    <svg width="396" class="screen5-left-column-svg" preserveAspectRatio="xMaxYMin meet" height="1412" viewBox="0 0 396 1412" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M392.5 1410.5L380.5 2.00056" stroke="black" stroke-width="0.445474" stroke-miterlimit="10"/>
        //- <path d="M68.7539 363.108L383.5 360.001" stroke="black" stroke-width="0.445474" stroke-miterlimit="10"/>
        //- <path d="M96.8989 730.485L386.5 728.001" stroke="black" stroke-width="0.445474" stroke-miterlimit="10"/>
        <path d="M0.5 2L73.8057 359.628L147.964 1409.89" stroke="black" stroke-width="0.445474" stroke-miterlimit="10"/>
        <path d="M52.5876 260.524L126.629 255.516L144.888 282.718" stroke="black" stroke-width="0.445474" stroke-miterlimit="10"/>
        <path d="M182.696 189.115L190.406 116.595L211.921 95.4735L294.617 79.1277L313.736 9.5412" stroke="black" stroke-width="0.445474" stroke-miterlimit="10"/>
        <path d="M320.677 597.94L335.021 583.882L349.866 512.812L387.718 492.47" stroke="black" stroke-width="0.445474" stroke-miterlimit="10"/>
        </svg>
    <svg class="screen5-horizontal-delimiter-row1" width="2304" height="18" viewBox="0 0 2304 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 17.7068L2303.31 0.74376" stroke="black" stroke-width="0.445474" stroke-miterlimit="10"/>
        </svg>
    <svg class="screen5-horizontal-delimiter-row2" width="2303" height="19" viewBox="0 0 2303 19" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.14502 18.083L2302.38 1.05116" stroke="black" stroke-width="0.445474" stroke-miterlimit="10"/>
        </svg>
    <svg class="screen5-horizontal-delimiter-row3" width="1246" height="18" viewBox="0 0 1246 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.283691 17.4913L2302.52 0.459482" stroke="black" stroke-width="0.445474" stroke-miterlimit="10"/>
        </svg>
    <svg class="screen5-horizontal-delimiter-row4" width="1246" height="18" viewBox="0 0 1246 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.283691 17.4913L2302.52 0.459482" stroke="black" stroke-width="0.445474" stroke-miterlimit="10"/>
        </svg>
    <svg class="screen5-vertical-delimiter-column2" preserveAspectRatio="xMidYMin meet" width="18" height="1446" viewBox="0 0 18 1446" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M17.4999 2000L1.00308 0.999233" stroke="black" stroke-width="0.445474" stroke-miterlimit="10"/>
        </svg>
    <svg class="screen5-vertical-delimiter-column3" width="16" height="1392" viewBox="0 0 16 1392" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M15.3871 1391.78L0.657526 0.641063" stroke="black" stroke-width="0.445474" stroke-miterlimit="10"/>
        </svg>
    div.screen5-grid-2-1
        span.screen5-title <span class="screen5-title-sub-item"></span><span class="screen5-title-sub-item"></span>Це — територія колишнього пивоварного заводу імені Ріхерта
        div.screen5-text колись тут і цеглу робили, і солод виготовляли.
        div.screen5-text потім довший час це місце залишалось занедбаним і пустим.
        +img('screen5/img-2-1.jpg')
    div.screen5-grid-3-1 
        span.screen5-title <span class="screen5-title-sub-item">ХVII СТ</span>Спочатку ТУТ БУЛА цеглянА ФАБРИКА МОНАСТИРЯ
        div.screen5-text                ця фабрика довгий час залишалася невеликим підприємством – аж до XIX ст., поки вона не перейшла до нового власника. Ним став купець Михайло Ріхерт. Саме він розширив фабрику та перетворив її на повноцінний завод.
        +img('screen5/brick.png').brick
        .screen5-rihter-photo
            +img('screen3/rihter-foto.png')
            div МИХАЙЛО РІХТЕР  
    div.screen5-grid-2-2
        +img('screen5/img2-2.png')
    div.screen5-grid-3-2     
        span.screen5-title <span class="screen5-title-sub-item">ХIХ</span>потім<br> МИХАЙЛО РІХЕРТ побудував ТУТ броварню, ЩО ПРАЦЮВАЛА До 1916 Року
        +img('screen5/img3-2.jpg')
    div  
        
    div.screen5-grid-2-3 
        span.screen5-subtitle <span class="screen5-title-sub-item"></span>Коли почалася Перша світова війна, у країні діяв «сухий закон». Тому Ріхерт вирішив випускати безалкогольні напої. Але це було безуспішно. 
    div.screen5-grid-3-3 
        span.screen5-title <span class="screen5-title-sub-item">1916</span>ПІД ЧАС СВІТОВОЇ ВІЙНИ ЗАВОД ЗМІНИВ ПРОФІЛЬ І ЗБАНКРОТУВАВ      
    div    
    div.screen5-grid-2-4   
        +img('screen5/img2-4.png')  
    div.screen5-grid-3-4    
        span.screen5-title <span class="screen5-title-sub-item">1917-1982</span>В радянські часи ЗАВОД ВЖЕ НЕ ЗАпрацював на повну і ПОСТУПОВО ЗАНЕДБАВСЯ
.screen5__inner-mobile 
    <svg width="794" height="1629" preserveAspectRatio="xMinYMin meet" viewBox="0 0 794 1629" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_55_1689)">
        <g clip-path="url(#clip1_55_1689)">
        <path d="M384.11 1959.87L346.557 -1309.81" stroke="black" stroke-width="0.387864" stroke-miterlimit="10"/>
        <path d="M21.7506 2395.25L-8.57116 -1304.83" stroke="black" stroke-width="0.387864" stroke-miterlimit="10"/>
        <path d="M-514.748 305.336L1187.48 297.85" stroke="black" stroke-width="0.387864" stroke-miterlimit="10"/>
        <path d="M-389.518 9.12233L823.954 0.471845L1232.64 -412.273" stroke="black" stroke-width="0.387864" stroke-miterlimit="10"/>
        <path d="M-267.135 607.269L1737.43 592.499" stroke="black" stroke-width="0.387864" stroke-miterlimit="10"/>
        <path d="M13.2188 1211.69L1744.77 1201.99" stroke="black" stroke-width="0.387864" stroke-miterlimit="10"/>
        <path d="M-242.629 927.135L1761.88 912.306" stroke="black" stroke-width="0.387864" stroke-miterlimit="10"/>
        <path d="M1650.92 425.744L626.709 -608.924" stroke="black" stroke-width="0.387864" stroke-miterlimit="10"/>
        <path d="M640.021 -2.6003C639.242 -6.72204 631.54 -71.2083 631.54 -71.2083L611.059 -87.061L362.384 -78.4791" stroke="black" stroke-width="0.387864" stroke-miterlimit="10"/>
        <path d="M177.467 3.33092L181.609 -182.498L195.74 -199.678L197.669 -226.128L218.423 -243.267L221.36 -291.964" stroke="black" stroke-width="0.387864" stroke-miterlimit="10"/>
        <path d="M228.631 301.978C228.717 294.031 230.534 207.71 230.534 207.71L271.578 185.527L286.605 167.11L287.136 90.0529L279.864 71.3825L235.936 60.9691L239.154 -14.9477L238.222 -117.649L266.462 -138.635L262.637 -183.855L272.595 -194.396L360.149 -193.496" stroke="black" stroke-width="0.387864" stroke-miterlimit="10"/>
        <path d="M682.115 1.87507L702.522 127.628L681.376 182.742L689.461 299.288" stroke="black" stroke-width="0.387864" stroke-miterlimit="10"/>
        <path d="M772.273 173.629L761.258 207.417L682.808 210.852" stroke="black" stroke-width="0.387864" stroke-miterlimit="10"/>
        <path d="M628.152 126.944L630.3 169.08L681.374 182.742" stroke="black" stroke-width="0.387864" stroke-miterlimit="10"/>
        <path d="M-47.7902 811.731L-35.3011 799.491L-22.3767 737.612L10.5806 719.901" stroke="black" stroke-width="0.387864" stroke-miterlimit="10"/>
        </g>
        </g>
        <defs>
        <clipPath id="clip0_55_1689">
        <rect width="794" height="1629" fill="white"/>
        </clipPath>
        <clipPath id="clip1_55_1689">
        <rect width="1097.66" height="1598" fill="white" transform="translate(-325)"/>
        </clipPath>
        </defs>
        </svg>
        div.screen5__inner-mobile-grid.grid-1-1
            .screen5-title <span class="screen5-title-sub-item"></span>Це — територія колишнього пивоварного заводу імені Ріхерта
            .screen5-text колись тут і цеглу робили, і солод виготовляли.
            +img('screen5/img-2-1.jpg')
        div.screen5__inner-mobile-grid.grid-2-1
            .screen5-text потім довший час це місце залишалось занедбаним і пустим.  
        div.screen5__inner-mobile-grid.grid-1-2
            +img('screen5/img2-2.png')
        div.screen5__inner-mobile-grid.grid-2-2 
            .screen5-title <span class="screen5-title-sub-item">ХVII СТ</span>  Спочатку ТУТ БУЛА цеглянА ФАБРИКА МОНАСТИРЯ 
            .screen5-rihter-photo
                +img('screen3/rihter-foto.png')
                div МИХАЙЛО РІХТЕР
        div.screen5__inner-mobile-grid.grid-1-3
            .screen5-title <span class="screen5-title-sub-item">ХIX</span> потім МИХАЙЛО РІХЕРТ побудував ТУТ  броварню, ЩО ПРАЦЮВАЛА До 1916 Року
        div.screen5__inner-mobile-grid.grid-2-3
            .screen5-text ця фабрика довгий час залишалася невеликим підприємством – аж до XIX ст., поки вона не перейшла до нового власника. Ним став купець Михайло Ріхерт. Саме він розширив фабрику та перетворив її на повноцінний завод.
        div.screen5__inner-mobile-grid.grid-1-4
            .screen5-title <span class="screen5-title-sub-item">1916 </span>ПІД ЧАС СВІТОВОЇ ВІЙНИ ЗАВОД ЗМІНИВ ПРОФІЛЬ І ЗБАНКРОТУВАВ
        div.screen5__inner-mobile-grid.grid-2-4 
            .screen5-text Коли почалася Перша світова війна, у країні діяв «сухий закон». Тому Ріхерт вирішив випускати безалкогольні напої. Але це було безуспішно. 
        div.screen5__inner-mobile-grid.grid-1-5 
            +img('screen5/img2-4.png') 
        div.screen5__inner-mobile-grid.grid-2-5 
            .screen5-title <span class="screen5-title-sub-item">1917–1982</span> В радянські часи ЗАВОД ВЖЕ НЕ ЗАпрацював на повну і ПОСТУПОВО ЗАНЕДБАВСЯ
