.screen10.screen
    .screen10__inner
        .screen10__inner-left
            .screen-viewer Забудовник
        .screen10__inner-right
            a(href="https://adevelopment.ua/" target='_blank').button САЙТ ЗАБУДОВНИКА
            .h1 A-DEVELOPMENT
            .subtitle <span class="screen10-tab"></span>ЗАБУДОВНИК, ВІДПОВІДАЛЬНИЙ ЗА РЕКОНСТРУКЦІЮ  І РЕНОВАЦІЮ ВІЙСЬКОВОЇ КОМЕНДАТУРИ НА АРСЕНАЛЬНій та створення будівль CREATIVE STATES тА  KYIV FOOD MARKET
            .text Динаміка розвитку компанії говорить сама за себе, буквально за три роки команда на 100% реалізувала три об’єкти та паралельно запустила ще кілька. За короткий показовий період згуртована команда продемонструвала високу ефективність, виконала обіцянки і заслужила бездоганну репутацію в інвесторів і партнерів.
            ul.projects-list
                li 
                    a(href="#") A-STATION 
                        +img('screen10/image 10.jpg')
                li 
                    a(href="#") SMART PLAZA POLYTECH
                        +img('screen10/image 11.jpg')
                li 
                    a(href="#") SMART PLAZA OBOLON
                        +img('screen10/image 9.jpg')