.screen9.screen
    .screen9__inner
        .map
            +img('screen9/mini.jpg')
            div.map-part(data-item="FIRST POINT COFFEE")
                video(playsinline poster="./assets/images/screen9/map/Rectangle 13.jpg" muted)
                    source(src="./static/videoplayback.mp4")
                //- +img('screen9/map/Rectangle 13.jpg')
                span FIRST POINT COFFEE
            div.map-part(data-item="ART CENTER 41")
                video(playsinline poster="./assets/images/screen9/map/Rectangle 13-1.jpg" muted)
                    source(src="./static/videoplayback.mp4")
                //- +img('screen9/map/Rectangle 13-1.jpg')
                span ART CENTER 41
            div.map-part(data-item="М. ТАРАСА ШЕВЧЕНКО –10 ХВ")
                video(playsinline poster="./assets/images/screen9/map/Rectangle 13-2.jpg" muted)
                    source(src="./static/videoplayback.mp4")
                //- +img('screen9/map/Rectangle 13-2.jpg')
                span М. ТАРАСА ШЕВЧЕНКО –10 ХВ
            div.map-part(data-item="ART CENTER CLOSER")
                video(playsinline poster="./assets/images/screen9/map/Rectangle 13-3.jpg" muted)
                    source(src="./static/videoplayback.mp4")
                //- +img('screen9/map/Rectangle 13-3.jpg')
                span ART CENTER CLOSER
            div.map-part(data-item="ОЗЕРО НА ТЕРИТОРІЇ")
                video(playsinline poster="./assets/images/screen9/map/Rectangle 13-4.jpg" muted)
                    source(src="./static/videoplayback.mp4")
                //- +img('screen9/map/Rectangle 13-4.jpg')
                span ОЗЕРО НА ТЕРИТОРІЇ
            div.map-part(data-item="РЕНОВАНА БУДІВЛЯ ЗАВОДУ")
                video(playsinline poster="./assets/images/screen9/map/Rectangle 13-5.jpg" muted)
                    source(src="./static/videoplayback.mp4")
                //- +img('screen9/map/Rectangle 13-5.jpg')
                span РЕНОВАНА БУДІВЛЯ ЗАВОДУ
            div.map-part(data-item="М. ПОШТОВА ПЛОЩА – 30 ХВ")
                video(playsinline poster="./assets/images/screen9/map/Rectangle 13-6.jpg" muted)
                    source(src="./static/videoplayback.mp4")
                //- +img('screen9/map/Rectangle 13-6.jpg')
                span М. ПОШТОВА ПЛОЩА – 30 ХВ
            div.map-part(data-item="М. Контрактова площа  – 20 ХВ")
                video(playsinline poster="./assets/images/screen9/map/Rectangle 13-7.jpg" muted)
                    source(src="./static/videoplayback.mp4")
                //- +img('screen9/map/Rectangle 13-7.jpg')
                span М. Контрактова площа  – 20 ХВ
        a(href="https://goo.gl/maps/ixLvBqZ9BNhRWoQG8" target='_blank').button.screen9-mob-button Показати на мапі
        .h1.title <span class="screen9-sub-item">(НАВКОЛО)</span>
            span Культурний центр
            <div class="screen9-switcher-mob photo"><img src="./assets/images/screen9/switch.jpg" title="foto" alt="foto">
                </div>
            span міста
            <svg width="375" height="6" viewBox="0 0 375 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.1" d="M379.785 1.04297L-3.70002 4.56509" stroke="black"/>
                </svg>
        .screen9-switcher.photo
            +img('screen9/switch.jpg')
        ul.screen9-list.legend
            li(data-src="./assets/images/screen9/1.jpg") ESPRESSOHOLIC <span class="sub-item">10 хв</span>
            li(data-src="./assets/images/screen9/2.jpg") CLOSER <span class="sub-item">10 хв</span>
            li(data-src="./assets/images/screen9/mini.jpg") BEER ONLINE <span class="sub-item">10 хв</span>
            li(data-src="./assets/images/screen9/switch.jpg") DMYTRUK  <span class="sub-item">10 хв</span>
            li(data-src="./assets/images/screen9/1.jpg") GALLERY <span class="sub-item">10 хв</span>
            li(data-src="./assets/images/screen9/1.jpg") BOARD SHOP <span class="sub-item">10 хв</span>
            li(data-src="./assets/images/screen9/1.jpg") KYIV-MOHYLA  <span class="sub-item">10 хв</span>
            li(data-src="./assets/images/screen9/1.jpg") ACADEMY <span class="sub-item">10 хв</span>
            li(data-src="./assets/images/screen9/1.jpg") ЖИТНІЙ РИНОК <span class="sub-item">10 хв</span>