.screen1 {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    transform-origin: bottom right;
    background-color: #B87B74;
    margin-bottom: 20px;
    margin-top: 0 !important;
    img {
      width: 20vw;
      height: auto;
      object-fit: cover;
      margin-left: auto;
      margin-top: auto;
    }
    .h1 {
      font-size: 12vw;
      line-height: 90%;
      text-transform: uppercase;
      letter-spacing: -0.04em;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding-right: 20px;
      padding-top: 0.1em;
      svg {
        width: 100vw;
        height: auto;
        @include from(576px){
            display: none;
        }
      }
      @include from(769px){
        span:last-child {
          display: inline-block;
          margin-left: auto;
          letter-spacing: -0.04em;
        }
      }
      @include to(575px){
        font-size: 84.4558px;
        line-height: 90%;
        flex-direction: column;
        align-items: flex-start;        
      } 
      @include to(375px){
        font-size: 60px;

      }
    }
   
    &__decor {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100vw;
      height: 26vw;
      z-index: 1;
      @include to(575px){
        position: static; 
        margin-top: 110px;
        height: auto;
        width: 150vw;
        margin-left: -50vw;
      }
  
    }
  }