.screen5 {
    will-change: transform;
    --screen5-height: 500vh;
    height: var(--screen5-height);
    overflow: hidden;
    --left-column-width: 33.55%;
    --medium-column-width: 28.55%;
    --right-column-width: 37.9%;
    @include from-to(576px, 1024px){
        --screen5-height: auto;
        --left-column-width: 0;
        --medium-column-width: 50%;
        --right-column-width: 50%;
    }
    @include to(575px){
        --left-column-width: 0%;
        --medium-column-width: 50%;
        --right-column-width: 50%;
        will-change: auto;
        overflow: hidden;
        height: 434.4vw;

        // overflow: scroll;
    }
    &__inner {
        display: grid;
        position: relative;
        grid-template-columns: var(--left-column-width) var(--medium-column-width) var(--right-column-width);
        grid-template-rows: 350px 380px 350px 445px;
        background-color: #fff;
        @include from(2100px){
            grid-template-rows: 700px 760px 700px 890px;
        }
        @include to(575px){
            width: 200vw; 
            display: none;
            
        }
    }

    &-left-column-svg {
        // position: absolute;
        // left: 0;
        // top: 0;
        // width: var(--left-column-width);
        // height: 100%;
        grid-area: 1/1/5/1;
        width: 100%;
        height: 100%;
    }
    &-horizontal-delimiters {
        position: absolute;
        left: var(--left-column-width);
    }
    &-horizontal-delimiter-row1 {
        grid-area: 1/1/1/4;
        justify-self: end;
        margin-top: -9px;
        margin-top: -4px;
    }
    &-horizontal-delimiter-row2 {
        grid-area: 2/1/2/4;
        justify-self: end;
        // clip-path: polygon(43.4% 100%, 100% 100%, 100% 0, 32.6% 0);
        width: 100%;
        margin-top: -9px;
        height: 1px;
        background-color: #7b7b7b;
        transform: rotate(-0.69deg);
        width: 91.3%;
        @include from(2100px){
            width: 93.6%;
        }
    }
    &-horizontal-delimiter-row3 {
        grid-area: 3/1/3/4;
        justify-self: end;
        width: 100%;
        margin-top: -20px;
        margin-top: -5px;
        height: 1px;
        background-color: #7b7b7b;
        transform: rotate(-0.69deg);
        width: 93.6%;
        width: 91%;
    }
    &-horizontal-delimiter-row4 {
        grid-area: 4/1/4/4;
        justify-self: end;
        width: 100%;
        margin-top: -9px;
        height: 1px;
        background-color: #7b7b7b;
        transform: rotate(-0.69deg);
        width: 87.3%;
        margin-left: auto;
    }
    &-vertical-delimiter-column2 {
        grid-area: 1/2/5/2;
        justify-self: end;
        margin-right: -9px;
        margin-right: 0;
        height: 100%;
        width: 1px;
        background: #a7a7a7;
        transform: rotate(-0.66deg);
    }
    &-vertical-delimiter-column3 {
        grid-area: 1/3/3/3;
        justify-self: end;
        margin-right: -6px;
    }
}

.screen5__inner-mobile {
    width: 217vw;
    height: 434.4vw;
    display: grid;
    grid-template-columns: 46.7% 53.2%;
    grid-template-rows: 18.4% 18.4% 20% 17.4% 25.7%;
    position: relative;
    will-change: transform;
    @include from(576px){
        display: none;
    }
    &>svg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }
    &-grid {
        position: relative;
        padding-left: 6.1%;
        padding-left: 3.1%;
        display: flex;
        flex-direction: column;
        .screen5-text {
            text-transform: lowercase;
        }
        .screen5-title {
            padding-top: 8px;
        }
        &>img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-fit: contain;
            object-position: top left;
        }
    }
    
    .grid-1-1 {
        padding-bottom: 10px;
        img {
            position: absolute;
            width: 17%;
            right: 5%;
            top: 1%;
            height: auto;
        }
        .screen5-title-sub-item {
            padding-right: 174px;
        }
        .screen5-title {
            max-width: 85%;
        }
        .screen5-text {
            margin-top: auto;
            max-width: 250px;
        }
    }
    .grid-1-5 {
        padding-left: 6.1%;
        padding-left: 3.1%;
    }
    .grid-2-1 {
        align-content: flex-end;
        align-items: flex-start;
        justify-content: flex-end;
        padding-bottom: 10px;
        max-width: 250px;
    }
    .grid-2-4,
    .grid-2-3 {
        .screen3__text {
            max-width: 60%;
            margin-top: 15px;
        }
    }
    
    .grid-1-3 {
        justify-content: flex-end;
        padding-bottom: 10px;
        .screen5-title {
            max-width: 88%;
        }
    }
    .grid-2-2 {
        padding-left: 0;
        .screen5-title {
            max-width: 341px;
        }
        .screen5-rihter-photo {
            width: 66px;
            position: absolute;
            left: -2.6%;
            bottom: -1%;
            display: flex;
            align-items: flex-end;

            img {
                width: 52px;
                height: 90px;
                object-fit: contain;
                object-position: bottom left;
            }
            div {
                font-size: 9.6966px;
                line-height: 90%;
                font-weight: 500;
                /* identical to box height, or 9px */
                letter-spacing: -0.04em;
                text-transform: uppercase;
                color: var(--color-black);
                white-space: nowrap;
                transform: rotate(-103.17deg) translateX(48px) translateY(-27px);
            }
        }
    }
    .grid-1-4 {
        padding-left: 4.5%;
        .screen5-title {
            margin-top: auto;
            max-width: 80%;
            margin-bottom: 10px;
        }
    }
    .grid-1-2 {
        padding-left: 1%;
    }
    .grid-2-5  {
        .screen5-title {
            margin-top: auto;
            max-width: 80%;
            margin-bottom: 80px;
        }
        .screen5-title-sub-item {
            padding-right: 20px;
        }
    }
}

.screen5-grid {
    &-2-1 {
        grid-area: 1/2/1/2;
        position: relative;
        img {
            position: absolute;
            right: 7.5px;
            right: 3%;
            top: 0;
            height: 163px;
            width: auto;
        }
        .screen5-title {
            padding-top: 17px;
            padding-left: 20px;
            display: inline-block;
            margin-bottom: 50px;
            padding-right: 75px;
            @include from-to(576px, 1024px){
                padding-right: 25%;
                // margin-bottom: 150px;
            }
        }
        .screen5-text {
            display: inline-block;
            margin-left: 20px;
            width: 35%;
            @include from(2100px){
                margin-left: 10px;
                width: 46%;
            }
        }
        
    }
    &-3-1 {
        grid-area: 1/3/1/3;
        position: relative;
        padding-top: 13px;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .screen5-rihter-photo {
            position: absolute;
            left: -5px;
            bottom: 2px;
            bottom: 13px;
            width: auto;
            height: 103px;
            // left: 4px;
            @include from(2100px){
                height: 210px;
            }
            img {
                height: 100%;
                width: auto;
            }
            div {
                position: absolute;
                right: 12px;
                top: 7px;
                transform-origin: top right;
                transform: rotate(-103.17deg);
                font-size: 6.6821px;
                line-height: 90%;
                letter-spacing: -0.04em;
                text-transform: uppercase;
                font-weight: 500;
                white-space: nowrap;
                @include from(2100px){
                    font-size: 20px;
                }
            }
        }
        .screen5-title {
            display: inline-block;
            padding-right: 35%;
        }
        .screen5-text {
            margin-top: auto;
            margin-bottom: 20px;
            margin-bottom: 40px;
            padding-left: 30%;
            padding-right: 12%;
        }
        .brick {
            position: absolute;
            right: 26px;
            top: 17px;
            width: 57px;
            height: 33px;
            @include from(1920px){
                width: 104px;
                height: 66px;
                object-fit: contain;
            }
        }
    }
    &-2-2 {
        grid-area: 2/2/2/2;
        margin-left: -12px;
        margin-top: 3px;
        img {
            height: 100%;
            object-fit: contain;
            object-position: left;
            object-fit: cover;
            object-position: top right;
        }
    }
    &-3-2 {
        grid-area: 2/3/2/3;
        padding-left: 25%;
        --image-h: 165px;
        padding-top: calc(var(--image-h) - 2.9em);
        position: relative; 
        @include from(2100px){
            --image-h: 240px;
            padding-left: 5%;
        }
        @include from(1025px){
            padding-right: 10%;
        }
        @include from-to(576px, 1024px){
            padding-left: 20px;
            padding-right: 5%;
        }
        img {
            position: absolute;
            right: 6px;
            top: -6px;
            height: var(--image-h);
            width: auto;
        }
    }
    &-2-3 {
        grid-area: 3/2/3/2;
        padding-top: 21px;
        padding-bottom: 185px;
        padding-right: 25%;
        text-transform: uppercase;
        @include from-to(576px, 1024px){
            padding-left: 30px;   
        }
    }
    &-3-3 {
        grid-area: 3/3/3/3;
        padding-left: 25%;
        padding-top: 134px;
        padding-right: 15px;
        @include from-to(576px, 1024px){
            padding-left: 45px;
        }
    }
    &-2-4 {
        grid-area: 4/2/4/2;
        
        img {
            width: 100%;
            height: auto;
            object-fit: contain;
            object-position: top left;
            margin-top: 5px;
            margin-left: -7px;
            margin-top: -6px;
            margin-left: -5px;
        }
    }
    &-3-4  {
        grid-area: 4/3/4/3;
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        .screen5-title {
            padding-left: 20px;
            margin-top: auto;
            padding-right: 15%;
            padding-bottom: 85px;
            padding-left: 55px;
            @include from-to(576px, 1024px){
                margin-top: 35px;
            }
        }
    }
}

.screen5-subtitle {
    font-size: 22.2737px;
    line-height: 90%;
    /* or 20px */
    font-weight: 500;
    letter-spacing: -0.04em;
    text-transform: lowercase;
    @include from(2100px){
        font-size: 41.2737px;
    }
}
.screen5-title {
    font-size: 39.5677px;

    line-height: 90%;
    /* or 36px */
    letter-spacing: -0.04em;
    font-weight: 500;
    text-transform: uppercase;
    @include from(2100px){
        font-size: 80px;
        font-size: 60px;

    }
    @include to(1360px){
        font-size: 2.5vw;
    }
    @include from-to(576px, 1024px){
        font-size: 36px;
    }
    @include to(575px){
        font-size: 34.4507px;
    }
    &-sub-item {
        font-size: 13.18px;
        line-height: 90%;
        display: inline-block;
        vertical-align: top;
        padding-right: 65px;
        padding-top: 0.3em;
        @include from(2100px){
            font-size: 24.18px;
        }
    }
}

.screen5-text {
    @extend .screen3__text;
    font-size: 13.3642px;
    @include from(2100px){
        font-size: 32px;
        font-size: 28px;
    }
    @include to(575px){
        font-size: 19.3932px;
        line-height: 90%;
    }   
}