.screen11 {
    --padding-top: Min(20vh, 205px);
    @include to(575px){
        margin-top: 50px;

    }
    &__inner {
        display: flex;
        flex-wrap: wrap;
        @include to(575px){
            justify-content: flex-start;
        }
    }
    .empty-block1 {
        width: 66%;
        padding-top: var(--padding-top);
        @include to(575px){
            display: none;   
        }
    }
    .empty-block2 {
        padding-top: var(--padding-top);
        width: 34%;
        border-left: 1.09084px solid rgba(0,0,0,0.1);
        @include to(575px){
            display: none;   
        }

    }
    .text {
        width: 66%;
        margin-left: auto;
        // max-width: 460.63px;
        padding-left: 33%;
        padding-top: 15px;
        padding-right: 73px;
        font-size: 25.9992px;
        line-height: 100%;
        /* or 26px */
        letter-spacing: -0.04em;
        text-transform: lowercase;
        border-top: 1.09084px solid rgba(0,0,0,0.1);
        @include to(575px){
            width: 100%;
            padding-left: 20px;
            padding-right: 20px;
            margin-right: auto;
            margin-left: 0;
            margin-bottom: 30px;
            font-size: 13px;
            line-height: 100%;
            max-width: 200px;
            border: none;
        }
        
    }
    &__links {
        width: 34%;
        border-left: 1.09084px solid rgba(0,0,0,0.1);
        border-top: 1.09084px solid rgba(0,0,0,0.1);
        padding: 15px;
        @include to(575px){
            width: 100%;
            border: none;
        }
    }
    &__links a {
        position: relative;
        font-size: 77.9977px;
        line-height: 80%;
        font-weight: 500;
        /* or 62px */
        letter-spacing: -0.04em;
        text-transform: uppercase;
        color: var(--color-black);
        text-decoration: none;
        @include to(575px){
            font-size: 62.6232px;
            line-height: 80%;
        }   
        @include to(374px){
            font-size: 50.6232px;
        }
        
    }
    &__links a:before {
        content: attr(data-title);
        position: absolute;
        // left: 0;
        // top: 0;
        color: var(--color-red);
        line-height: 80%;
        clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
        transition: .3s ease-in-out;
    }
    &__links a:hover:before {
        clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    }
    &-delimiter {
        display: inline-block;
        padding-left: 4ch;
    }
}