.screen9 {
    // position: fixed;
    z-index: 30;
    left: 0;
    background: white;
    // will-change: transform;
    @include from(1025px){
        overflow: hidden;
        height: 200vh;
    }
    .h1 {
        font-size: 142.208px;
        font-size: 9.85vw;
        font-size: Min(9.85vw, 142.208px);
        line-height: 80%;
        font-weight: 500;
        /* or 114px */
        padding-top: 0.2em;
        letter-spacing: -0.07em;
        text-transform: uppercase;
        @include to(1024px){
            position: relative;
            font-size: 47px;
            font-size: 100px;
            line-height: 80%;
            margin-bottom: 25px;
        }
        @include to(575px){
            font-size: 43px;
        }
        @include from(1680px){
            font-size: 9vw;
        }
        svg {
            position: absolute;
            left: 0;
            bottom: -10px;
            width: 100%;

            @include from(576px){
                display: none;
            }
        }
    }
    &-switcher {
        clip-path: polygon(90% 0, 96% 20%, 96% 28%, 100% 39%, 100% 100%, 32% 98%, 0 98%, 0 0, 89% 0);
        -webkit-clip-path: polygon(90% 0, 96% 20%, 96% 28%, 100% 39%, 100% 100%, 32% 98%, 0 98%, 0 0, 89% 0);
    }
    &__inner {
        display: grid; 
        grid-template-columns: 29vw 48vw 23vw; 
        grid-template-rows: 40vh 60vh; 
        gap: 0px 0px; 
        grid-template-areas: 
        "map title title"
        ". photo legend"; 
        align-items: start;
        transform-origin: left top;
        // will-change: transform;
        @include from-to(576px, 1024px){
            grid-template-areas:
            "map title title"
            "photo photo legend";
        }
        @include to(1024px){
            display: flex;
            // flex-direction: column;
            flex-wrap: wrap;

        }
    }
    .map { 
        grid-area: map; 
        position: relative;
        // will-change: transform;
        @include from(1025px) {
            height: calc(100vh / 3.4);
            height: auto;
        }
        @include to(1024px){
            width: 100vw;
            height: 100vh;
            overflow-x: scroll;
            overflow-y: hidden;
            img {
                height: 100vh;
                width: calc(100vw / 0.59);
                max-width: none;
            }
        }
    }
    .title { 
        grid-area: title; 
        padding-left: 10px;
        padding-right: 10px;
        pointer-events: none;
    }
    .photo { 
        grid-area: photo;
        margin-bottom: auto;
        height: 53vh;
        overflow: hidden;
        @include to(1024px){
            &:not(.screen9-switcher-mob) {
                width: 50%;
            }
        }
        @include to(575px){
            &:not(.screen9-switcher-mob) {
                height: 40vw;
            }
        }
    }
    .legend { grid-area: legend;
        margin-bottom: auto;
        @include to(1024px){
            width: 50%;
        }
    }
}
.screen9-list {
    font-size: 27.6104px;
    font-size: 1.9vw;
    line-height: 100%;
    /* or 28px */
    font-weight: 500;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    padding-left: 28px;
    @include to(1024px){
        font-size: 28px;
        line-height: 100%;
        padding-left: 0;
        margin-left: auto;
    }       
    @include to(575px){
        font-size: 15px;
    }
    li {
        cursor: pointer;
    }
    li:before {
        content: '';
        display: inline-block;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: var(--color-black);
        margin-right: 10px;
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
        -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
        transition: .2s ease-in-out;
        @include to(1024px){
            width: 14px;
            height: 14px;
        }
    }
    li:hover:before {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .sub-item {

        font-size: 8.83532px;
        line-height: 10px;
        /* identical to box height */
        letter-spacing: -0.01em;
        display: inline-block;vertical-align: top;
        padding-top: 0.3em;
    }
}

.screen9-sub-item {
    font-family: $default-font2;
    font-size: 18.9611px;
    line-height: 121%;
    /* identical to box height */
    letter-spacing: -0.01em;
    display: inline-block;vertical-align: top;
    padding-top: 0.3em;
    text-transform: uppercase;
    @include to(1024px){
        padding-right: 15px;
        font-size: 11px;
        line-height: 13px;
    }
}

.screen9-switcher {
    position: relative;
    @include to(1024px){
        // display: none;
    }
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: rgba(255,255,255, 0.25);
        opacity: 0;
    }
    &.opened:before {
        opacity: 1;
    }
    &.closing:before {
        opacity: 1;
    }
    img {
        height: 100%;
        object-fit: cover;        
    }
}
.screen9-switcher-mob {
    @extend  .screen9-switcher;
    width: 61px;
    height: 35px !important;
    
    @include from-to(576px, 1024px){
        width: 116px;
        height: 67px !important;
    }   
    @include to(1024px){
        display: inline-block;   
        margin-left: 10px;
        margin-right: 5px;
        vertical-align: middle;
    }
    @include to(575px){
        margin-left: 2px;
        margin-right: 2px;
    }
    @include from(1024px){
        display: none;
    }
}
.screen9-mob-button {
    @include from(1024px){
        display: none;
    }
    width: calc(100% - 20px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 19px;
    margin-bottom: 26px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
}
.pending {
    &:before {
        opacity: 1;
    }
}
.opened {
    animation: switcherOpen .5s ease-in-out 1;
}
.closing {
    animation: switcherClose .5s ease-in-out 1;
}

.map-part {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    font-weight: 500;
    font-size: 3.1px;
    line-height: 100%;
    overflow: hidden;
    // width: 33px;
    // --image-h: 2.3vw;
    width: 24px;
    --image-h: 1.9vw;
    font-size: 2.9px;
    line-height: 105%;
    /* or 10px */
    cursor: pointer;
    transform: translate(-50%,-50%);
    letter-spacing: -0.05em;
    @include to(1024px){
        --image-h: 67px;
        width: 60px;
        font-size: 8.1px;
    }
    @include from(1920px){
        width: 50px;
        font-size: 4.1px;
    }
    img, video {
        width: var(--image-h);
        width: 100%;
        height: calc(var(--image-h) * 1.31);
        object-fit: cover;
    }
    span {
        text-transform: uppercase;
        background-color: var(--color-white);
        padding: 0.6px;
        padding: 1px 0 0 1px;
        width: 100%;
    }
}

.map-part[data-item="FIRST POINT COFFEE"] {
    left: 52%;
    top: 82%;
    @include from-to(576px, 1024px) {
        left: calc(52% * 1.59);

    }
    @include to(575px) {
        left: calc(52vw * 1.59);
        top: 82vh;

    }
}
[data-item="ART CENTER 41"] {
    left: 79%;
    top: 48%;
    @include from-to(576px, 1024px) {
        left: calc(79% * 1.59);

    }
    @include to(575px) {
        left: calc(79vw * 1.59);
        top: 48vh;

    }
}
[data-item="М. ТАРАСА ШЕВЧЕНКО –10 ХВ"] {
    left: 92%;
    top: 72%;
    @include from-to(576px, 1024px) {
        left: calc(92% * 1.59);

    }
    @include to(575px) {
        left: calc(92vw * 1.59);
        top: 72vh;

    }
}
[data-item="ART CENTER CLOSER"] {
    left: 16%;
    top: 29%;
    @include from-to(576px, 1024px) {
        left: calc(16% * 1.59);

    }
    @include to(575px) {
        left: calc(16vw * 1.59);
        top: 29vh;

    }
}

[data-item="РЕНОВАНА БУДІВЛЯ ЗАВОДУ"] {
    left: 37%;
    top: 62%;
    @include from-to(576px, 1024px) {
        left: calc(37% * 1.59);

    }
    @include to(575px) {
        left: calc(37vw * 1.59);
        top: 62vh;

    }
}
[data-item="М. ПОШТОВА ПЛОЩА – 30 ХВ"] {
    top: 88%;
    left: 10%;
    @include from-to(576px, 1024px) {
        top: calc(88% * 1.59);

    }
    @include to(575px) {
        top: calc(88vw * 1.59);
        left: calc(10vw * 1.59);
    }
}
[data-item="М. Контрактова площа  – 20 ХВ"] {
    left: 72%;
    top: 86%;
    @include from-to(576px, 1024px) {
        left: calc(72% * 1.59);

    }
    @include to(575px) {
        left: calc(72vw * 1.59);
        top: 86vh;

    }
}
[data-item="ОЗЕРО НА ТЕРИТОРІЇ"] {
    left: 50%;
    top: 24%;
    @include from-to(576px, 1024px) {
        left: calc(50% * 1.59);

    }
    @include to(575px) {
        left: calc(50vw * 1.59);
        top: 24vh;

    }
}