.screen9 {
    // position: fixed;
    z-index: 30;
    left: 0;
    background: white;
    // will-change: transform;
    @include from(1025px){
        overflow: hidden;
        height: 200vh;
    }
    .h1 {
        font-size: 142.208px;
        font-size: 9.85vw;
        font-size: Min(9.85vw, 142.208px);
        line-height: 80%;
        font-weight: 500;
        /* or 114px */
        padding-top: 0.2em;
        letter-spacing: -0.07em;
        text-transform: uppercase;
        @include to(1024px){
            position: relative;
            font-size: 47px;
            font-size: 100px;
            line-height: 80%;
            margin-bottom: 25px;
        }
        @include to(575px){
            font-size: 43px;
        }
        @include from(1680px){
            font-size: 9vw;
        }
        svg {
            position: absolute;
            left: 0;
            bottom: -10px;
            width: 100%;

            @include from(576px){
                display: none;
            }
        }
    }
    &-switcher {
        clip-path: polygon(90% 0, 96% 20%, 96% 28%, 100% 39%, 100% 100%, 32% 98%, 0 98%, 0 0, 89% 0);
        -webkit-clip-path: polygon(90% 0, 96% 20%, 96% 28%, 100% 39%, 100% 100%, 32% 98%, 0 98%, 0 0, 89% 0);
    }
    &__inner {
        display: grid; 
        grid-template-columns: 29vw 48vw 23vw; 
        grid-template-rows: 40vh 60vh; 
        gap: 0px 0px; 
        grid-template-areas: 
        "map title title"
        ". photo legend"; 
        align-items: start;
        transform-origin: 0 0;
        // will-change: transform;
        @include from-to(576px, 1024px){
            grid-template-areas:
            "map title title"
            "photo photo legend";
        }
        @include to(1024px){
            display: flex;
            // flex-direction: column;
            flex-wrap: wrap;

        }
        @include to(575px){
            position: relative;
            &:after {
                content: '';
                position: absolute;
                top: calc(100vh - 75px);
                left: calc(100vw - 85px);
                width: 75px;
                height: 60px;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url("data:image/svg+xml,%3Csvg width='1785' height='614' viewBox='0 0 1785 614' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M641.702 21.29C625.822 38.3 622.422 67.79 622.422 173.25C622.422 302.52 622.422 304.79 595.212 311.59C553.252 321.79 536.242 376.23 552.112 452.2C569.122 533.85 649.642 635.91 675.722 609.83C684.792 600.76 681.392 595.09 628.092 528.18C599.742 491.89 594.072 474.88 594.072 422.72C594.072 383.03 599.742 358.08 608.812 355.81C616.752 352.41 622.422 360.35 622.422 373.96C622.422 387.57 629.232 397.77 639.432 397.77C653.042 397.77 656.442 368.29 658.712 224.27C662.112 80.25 664.382 51.9 679.122 51.9C692.732 51.9 697.271 74.58 699.531 178.91C701.801 279.83 706.342 307.05 718.812 307.05C730.152 307.05 735.822 290.04 738.092 252.62C740.362 214.06 746.032 199.32 758.502 199.32C770.982 199.32 776.652 215.19 778.912 258.29C783.452 334.27 811.802 343.34 817.472 269.63C819.742 236.74 826.542 222 837.882 222C850.362 222 856.031 237.87 860.561 277.56C867.371 339.93 891.182 361.47 896.852 310.44C899.122 290.03 908.192 277.56 921.802 275.29C942.212 270.75 943.342 276.42 936.542 378.48C932.002 437.45 921.802 507.76 911.592 534.98C890.052 599.61 890.051 615.49 913.861 610.95C938.811 606.42 960.351 537.24 973.961 423.84C989.841 284.36 975.102 227.66 921.802 227.66C905.922 227.66 893.451 218.59 888.911 206.12C885.511 193.65 873.041 181.17 862.831 177.77C852.622 175.5 819.742 166.43 790.252 158.49L735.822 143.75V90.45C735.822 9.95001 684.792 -26.3299 641.702 21.29Z' fill='black'/%3E%3Cpath d='M457.991 34.9C454.591 40.57 454.591 50.77 457.991 57.58C462.531 65.52 392.221 68.92 253.871 68.92C58.8207 68.92 42.9507 70.05 46.3507 88.2C49.7507 106.34 71.2906 109.74 253.871 114.28C419.431 118.82 457.991 123.35 457.991 135.82C457.991 165.3 480.671 160.77 514.691 125.61L547.581 91.59L514.691 57.57C479.541 21.29 469.331 16.76 457.991 34.9Z' fill='black'/%3E%3Cpath d='M23.6806 174.38C-8.0794 207.27 -8.0794 217.47 24.8106 248.09C57.7006 279.84 82.6406 280.98 74.7106 250.36C69.0406 228.82 75.8406 227.68 279.961 225.41C560.061 220.87 561.201 200.47 282.231 195.93C87.1806 193.66 78.1106 192.52 78.1106 170.98C78.1106 140.36 53.1606 142.63 23.6806 174.38Z' fill='black'/%3E%3Cpath d='M1173.59 215H1143.9L1144.1 199.668H1173.59C1183.75 199.668 1192.21 197.552 1198.98 193.32C1205.75 189.023 1210.83 183.034 1214.21 175.352C1217.67 167.604 1219.39 158.555 1219.39 148.203V139.512C1219.39 131.374 1218.41 124.147 1216.46 117.832C1214.51 111.452 1211.64 106.081 1207.87 101.719C1204.09 97.2917 1199.47 93.9388 1194 91.6602C1188.6 89.3815 1182.38 88.2422 1175.35 88.2422H1143.32V72.8125H1175.35C1184.66 72.8125 1193.15 74.375 1200.84 77.5C1208.52 80.5599 1215.13 85.0195 1220.66 90.8789C1226.26 96.6732 1230.56 103.704 1233.55 111.973C1236.55 120.176 1238.04 129.421 1238.04 139.707V148.203C1238.04 158.49 1236.55 167.767 1233.55 176.035C1230.56 184.238 1226.23 191.237 1220.56 197.031C1214.96 202.826 1208.19 207.285 1200.25 210.41C1192.37 213.47 1183.49 215 1173.59 215ZM1153.96 72.8125V215H1135.11V72.8125H1153.96ZM1258.36 72.8125H1305.43C1316.11 72.8125 1325.13 74.4401 1332.48 77.6953C1339.91 80.9505 1345.54 85.7682 1349.38 92.1484C1353.29 98.4635 1355.24 106.243 1355.24 115.488C1355.24 121.999 1353.9 127.956 1351.23 133.359C1348.63 138.698 1344.85 143.255 1339.91 147.031C1335.02 150.742 1329.16 153.509 1322.33 155.332L1317.05 157.383H1272.82L1272.62 142.051H1306.02C1312.79 142.051 1318.42 140.879 1322.91 138.535C1327.41 136.126 1330.79 132.904 1333.07 128.867C1335.35 124.831 1336.49 120.371 1336.49 115.488C1336.49 110.02 1335.41 105.234 1333.27 101.133C1331.12 97.0312 1327.73 93.8737 1323.11 91.6602C1318.55 89.3815 1312.66 88.2422 1305.43 88.2422H1277.21V215H1258.36V72.8125ZM1341.47 215L1306.9 150.547L1326.53 150.449L1361.59 213.828V215H1341.47ZM1426.24 85.4102L1379.17 215H1359.93L1414.13 72.8125H1426.54L1426.24 85.4102ZM1465.7 215L1418.53 85.4102L1418.23 72.8125H1430.64L1485.03 215H1465.7ZM1463.25 162.363V177.793H1383.37V162.363H1463.25ZM1599.98 144.199V196.25C1598.22 198.854 1595.42 201.784 1591.58 205.039C1587.74 208.229 1582.43 211.029 1575.66 213.438C1568.96 215.781 1560.3 216.953 1549.69 216.953C1541.03 216.953 1533.05 215.456 1525.76 212.461C1518.54 209.401 1512.25 204.974 1506.91 199.18C1501.64 193.32 1497.54 186.224 1494.61 177.891C1491.74 169.492 1490.31 159.987 1490.31 149.375V138.34C1490.31 127.728 1491.55 118.255 1494.02 109.922C1496.56 101.589 1500.27 94.5247 1505.16 88.7305C1510.04 82.8711 1516.03 78.444 1523.12 75.4492C1530.22 72.3893 1538.36 70.8594 1547.54 70.8594C1558.41 70.8594 1567.49 72.7474 1574.79 76.5234C1582.14 80.2344 1587.87 85.3776 1591.97 91.9531C1596.14 98.5286 1598.81 106.016 1599.98 114.414H1581.13C1580.29 109.271 1578.59 104.583 1576.05 100.352C1573.58 96.1198 1570.03 92.7344 1565.41 90.1953C1560.79 87.5911 1554.83 86.2891 1547.54 86.2891C1540.96 86.2891 1535.27 87.4935 1530.45 89.9023C1525.63 92.3112 1521.66 95.7617 1518.54 100.254C1515.41 104.746 1513.07 110.182 1511.5 116.562C1510.01 122.943 1509.26 130.137 1509.26 138.145V149.375C1509.26 157.578 1510.2 164.902 1512.09 171.348C1514.04 177.793 1516.81 183.294 1520.39 187.852C1523.97 192.344 1528.24 195.762 1533.18 198.105C1538.2 200.449 1543.73 201.621 1549.79 201.621C1556.49 201.621 1561.93 201.068 1566.09 199.961C1570.26 198.789 1573.52 197.422 1575.86 195.859C1578.2 194.232 1579.99 192.702 1581.23 191.27V159.434H1548.32V144.199H1599.98ZM1308.57 232.812V375H1290.02V232.812H1308.57ZM1354.28 232.812V248.242H1244.41V232.812H1354.28ZM1474.11 299.414V308.398C1474.11 319.076 1472.77 328.646 1470.11 337.109C1467.44 345.573 1463.6 352.767 1458.58 358.691C1453.57 364.616 1447.55 369.141 1440.52 372.266C1433.55 375.391 1425.74 376.953 1417.08 376.953C1408.68 376.953 1400.96 375.391 1393.93 372.266C1386.97 369.141 1380.91 364.616 1375.77 358.691C1370.69 352.767 1366.75 345.573 1363.95 337.109C1361.15 328.646 1359.75 319.076 1359.75 308.398V299.414C1359.75 288.737 1361.12 279.199 1363.86 270.801C1366.65 262.337 1370.59 255.143 1375.67 249.219C1380.75 243.229 1386.77 238.672 1393.74 235.547C1400.77 232.422 1408.48 230.859 1416.88 230.859C1425.54 230.859 1433.35 232.422 1440.32 235.547C1447.35 238.672 1453.37 243.229 1458.39 249.219C1463.46 255.143 1467.34 262.337 1470.01 270.801C1472.74 279.199 1474.11 288.737 1474.11 299.414ZM1455.46 308.398V299.219C1455.46 290.755 1454.58 283.268 1452.82 276.758C1451.13 270.247 1448.62 264.779 1445.3 260.352C1441.98 255.924 1437.91 252.572 1433.09 250.293C1428.34 248.014 1422.94 246.875 1416.88 246.875C1411.02 246.875 1405.72 248.014 1400.96 250.293C1396.28 252.572 1392.24 255.924 1388.86 260.352C1385.54 264.779 1382.96 270.247 1381.14 276.758C1379.32 283.268 1378.41 290.755 1378.41 299.219V308.398C1378.41 316.927 1379.32 324.479 1381.14 331.055C1382.96 337.565 1385.57 343.066 1388.95 347.559C1392.4 351.986 1396.47 355.339 1401.16 357.617C1405.91 359.896 1411.22 361.035 1417.08 361.035C1423.2 361.035 1428.63 359.896 1433.39 357.617C1438.14 355.339 1442.14 351.986 1445.4 347.559C1448.72 343.066 1451.23 337.565 1452.92 331.055C1454.61 324.479 1455.46 316.927 1455.46 308.398ZM1169.29 499.062C1169.29 495.742 1168.76 492.812 1167.72 490.273C1166.75 487.669 1164.99 485.326 1162.45 483.242C1159.98 481.159 1156.52 479.173 1152.1 477.285C1147.74 475.397 1142.2 473.477 1135.5 471.523C1128.46 469.44 1122.12 467.129 1116.45 464.59C1110.79 461.986 1105.94 459.023 1101.9 455.703C1097.87 452.383 1094.77 448.574 1092.62 444.277C1090.48 439.98 1089.4 435.065 1089.4 429.531C1089.4 423.997 1090.54 418.887 1092.82 414.199C1095.1 409.512 1098.35 405.443 1102.59 401.992C1106.88 398.477 1111.99 395.742 1117.92 393.789C1123.84 391.836 1130.45 390.859 1137.74 390.859C1148.42 390.859 1157.47 392.91 1164.89 397.012C1172.38 401.048 1178.07 406.354 1181.98 412.93C1185.89 419.44 1187.84 426.406 1187.84 433.828H1169.09C1169.09 428.49 1167.95 423.77 1165.67 419.668C1163.39 415.501 1159.94 412.246 1155.32 409.902C1150.7 407.493 1144.84 406.289 1137.74 406.289C1131.04 406.289 1125.5 407.298 1121.14 409.316C1116.78 411.335 1113.52 414.069 1111.38 417.52C1109.29 420.97 1108.25 424.909 1108.25 429.336C1108.25 432.331 1108.87 435.065 1110.11 437.539C1111.41 439.948 1113.39 442.194 1116.06 444.277C1118.8 446.361 1122.25 448.281 1126.41 450.039C1130.65 451.797 1135.69 453.49 1141.55 455.117C1149.62 457.396 1156.59 459.935 1162.45 462.734C1168.31 465.534 1173.13 468.691 1176.9 472.207C1180.74 475.658 1183.58 479.596 1185.4 484.023C1187.29 488.385 1188.23 493.333 1188.23 498.867C1188.23 504.661 1187.06 509.902 1184.71 514.59C1182.37 519.277 1179.02 523.281 1174.66 526.602C1170.29 529.922 1165.05 532.493 1158.93 534.316C1152.88 536.074 1146.11 536.953 1138.62 536.953C1132.05 536.953 1125.57 536.042 1119.19 534.219C1112.87 532.396 1107.11 529.661 1101.9 526.016C1096.76 522.37 1092.62 517.878 1089.5 512.539C1086.44 507.135 1084.91 500.885 1084.91 493.789H1103.66C1103.66 498.672 1104.6 502.871 1106.49 506.387C1108.38 509.837 1110.95 512.702 1114.21 514.98C1117.53 517.259 1121.27 518.952 1125.44 520.059C1129.67 521.1 1134.06 521.621 1138.62 521.621C1145.2 521.621 1150.76 520.71 1155.32 518.887C1159.88 517.064 1163.33 514.46 1165.67 511.074C1168.08 507.689 1169.29 503.685 1169.29 499.062ZM1290.09 489.785H1308.84C1307.87 498.77 1305.3 506.81 1301.13 513.906C1296.96 521.003 1291.07 526.634 1283.45 530.801C1275.84 534.902 1266.33 536.953 1254.94 536.953C1246.6 536.953 1239.02 535.391 1232.18 532.266C1225.41 529.141 1219.59 524.714 1214.7 518.984C1209.82 513.19 1206.04 506.257 1203.38 498.184C1200.77 490.046 1199.47 480.996 1199.47 471.035V456.875C1199.47 446.914 1200.77 437.897 1203.38 429.824C1206.04 421.686 1209.85 414.72 1214.8 408.926C1219.81 403.132 1225.84 398.672 1232.87 395.547C1239.9 392.422 1247.81 390.859 1256.6 390.859C1267.34 390.859 1276.42 392.878 1283.84 396.914C1291.27 400.951 1297.03 406.549 1301.13 413.711C1305.3 420.807 1307.87 429.043 1308.84 438.418H1290.09C1289.18 431.777 1287.49 426.081 1285.02 421.328C1282.54 416.51 1279.03 412.799 1274.47 410.195C1269.91 407.591 1263.95 406.289 1256.6 406.289C1250.28 406.289 1244.72 407.493 1239.9 409.902C1235.15 412.311 1231.14 415.729 1227.89 420.156C1224.7 424.583 1222.29 429.889 1220.66 436.074C1219.03 442.259 1218.22 449.128 1218.22 456.68V471.035C1218.22 478.001 1218.93 484.544 1220.37 490.664C1221.86 496.784 1224.11 502.155 1227.11 506.777C1230.1 511.4 1233.91 515.046 1238.53 517.715C1243.15 520.319 1248.62 521.621 1254.94 521.621C1262.95 521.621 1269.33 520.352 1274.08 517.812C1278.83 515.273 1282.41 511.628 1284.82 506.875C1287.29 502.122 1289.05 496.426 1290.09 489.785ZM1326.53 392.812H1373.6C1384.27 392.812 1393.29 394.44 1400.65 397.695C1408.07 400.951 1413.7 405.768 1417.54 412.148C1421.45 418.464 1423.4 426.243 1423.4 435.488C1423.4 441.999 1422.07 447.956 1419.4 453.359C1416.79 458.698 1413.02 463.255 1408.07 467.031C1403.19 470.742 1397.33 473.509 1390.49 475.332L1385.22 477.383H1340.98L1340.79 462.051H1374.18C1380.95 462.051 1386.59 460.879 1391.08 458.535C1395.57 456.126 1398.96 452.904 1401.23 448.867C1403.51 444.831 1404.65 440.371 1404.65 435.488C1404.65 430.02 1403.58 425.234 1401.43 421.133C1399.28 417.031 1395.9 413.874 1391.27 411.66C1386.72 409.382 1380.82 408.242 1373.6 408.242H1345.38V535H1326.53V392.812ZM1409.63 535L1375.06 470.547L1394.69 470.449L1429.75 533.828V535H1409.63ZM1551.24 459.414V468.398C1551.24 479.076 1549.91 488.646 1547.24 497.109C1544.57 505.573 1540.73 512.767 1535.71 518.691C1530.7 524.616 1524.68 529.141 1517.65 532.266C1510.68 535.391 1502.87 536.953 1494.21 536.953C1485.81 536.953 1478.1 535.391 1471.07 532.266C1464.1 529.141 1458.05 524.616 1452.9 518.691C1447.82 512.767 1443.89 505.573 1441.09 497.109C1438.29 488.646 1436.89 479.076 1436.89 468.398V459.414C1436.89 448.737 1438.25 439.199 1440.99 430.801C1443.79 422.337 1447.73 415.143 1452.8 409.219C1457.88 403.229 1463.9 398.672 1470.87 395.547C1477.9 392.422 1485.62 390.859 1494.02 390.859C1502.67 390.859 1510.49 392.422 1517.45 395.547C1524.48 398.672 1530.51 403.229 1535.52 409.219C1540.6 415.143 1544.47 422.337 1547.14 430.801C1549.88 439.199 1551.24 448.737 1551.24 459.414ZM1532.59 468.398V459.219C1532.59 450.755 1531.71 443.268 1529.95 436.758C1528.26 430.247 1525.75 424.779 1522.43 420.352C1519.11 415.924 1515.04 412.572 1510.23 410.293C1505.47 408.014 1500.07 406.875 1494.02 406.875C1488.16 406.875 1482.85 408.014 1478.1 410.293C1473.41 412.572 1469.37 415.924 1465.99 420.352C1462.67 424.779 1460.1 430.247 1458.27 436.758C1456.45 443.268 1455.54 450.755 1455.54 459.219V468.398C1455.54 476.927 1456.45 484.479 1458.27 491.055C1460.1 497.565 1462.7 503.066 1466.09 507.559C1469.54 511.986 1473.61 515.339 1478.29 517.617C1483.05 519.896 1488.35 521.035 1494.21 521.035C1500.33 521.035 1505.77 519.896 1510.52 517.617C1515.27 515.339 1519.28 511.986 1522.53 507.559C1525.85 503.066 1528.36 497.565 1530.05 491.055C1531.74 484.479 1532.59 476.927 1532.59 468.398ZM1657.7 519.668V535H1586.6V519.668H1657.7ZM1590.31 392.812V535H1571.46V392.812H1590.31ZM1757.51 519.668V535H1686.41V519.668H1757.51ZM1690.12 392.812V535H1671.28V392.812H1690.12Z' fill='black'/%3E%3C/svg%3E%0A");
            }
        }
    }
    .map { 
        grid-area: map; 
        position: relative;
        // will-change: transform;
        &>img {
            pointer-events: none;
        }
        @include from(1025px) {
            height: calc(100vh / 3.4);
            height: auto;
        }
        @include to(1024px){
            width: 100vw;
            height: 100vh;
            overflow-x: scroll;
            overflow-y: hidden;
            img {
                height: 100vh;
                width: calc(100vw / 0.59);
                max-width: none;
            }
        }
        
    }
    .title { 
        grid-area: title; 
        padding-left: 10px;
        padding-right: 10px;
        pointer-events: none;
    }
    .photo { 
        grid-area: photo;
        margin-bottom: auto;
        height: 53vh;
        overflow: hidden;
        @include to(1024px){
            &:not(.screen9-switcher-mob) {
                width: 50%;
            }
        }
        @include to(575px){
            &:not(.screen9-switcher-mob) {
                height: 40vw;
            }
        }
    }
    .legend { grid-area: legend;
        margin-bottom: auto;
        @include to(1024px){
            width: 50%;
        }
    }
}
.screen9-list {
    font-size: 27.6104px;
    font-size: 1.9vw;
    line-height: 100%;
    /* or 28px */
    font-weight: 500;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    padding-left: 28px;
    @include to(1024px){
        font-size: 28px;
        line-height: 100%;
        padding-left: 0;
        margin-left: auto;
    }       
    @include to(575px){
        font-size: 15px;
    }
    li {
        cursor: pointer;
        position: relative;
        padding-left: 30px;
    }
    li:before {
        content: '';
        position: absolute;
        left: 0;
        top: 5px;
        
        display: inline-block;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: var(--color-black);
        margin-right: 10px;
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
        -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
        transition: .2s ease-in-out;
        @include to(1024px){
            width: 14px;
            height: 14px;
        }
    }
    li:hover:before {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .sub-item {

        font-size: 8.83532px;
        line-height: 10px;
        /* identical to box height */
        letter-spacing: -0.01em;
        display: inline-block;vertical-align: top;
        padding-top: 0.3em;
    }
}

.screen9-sub-item {
    font-family: $default-font2;
    font-size: 18.9611px;
    line-height: 121%;
    /* identical to box height */
    letter-spacing: -0.01em;
    display: inline-block;vertical-align: top;
    padding-top: 0.3em;
    text-transform: uppercase;
    @include to(1024px){
        padding-right: 15px;
        font-size: 11px;
        line-height: 13px;
    }
}

.screen9-switcher {
    position: relative;
    @include to(1024px){
        // display: none;
    }
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: rgba(255,255,255, 0.25);
        opacity: 0;
    }
    &.opened:before {
        opacity: 1;
    }
    &.closing:before {
        opacity: 1;
    }
    img {
        height: 100%;
        object-fit: cover;        
    }
}
.screen9-switcher-mob {
    @extend  .screen9-switcher;
    width: 61px;
    height: 35px !important;
    
    @include from-to(576px, 1024px){
        width: 116px;
        height: 67px !important;
    }   
    @include to(1024px){
        display: inline-block;   
        margin-left: 10px;
        margin-right: 5px;
        vertical-align: middle;
    }
    @include to(575px){
        margin-left: 2px;
        margin-right: 2px;
    }
    @include from(1024px){
        display: none;
    }
}
.screen9-mob-button {
    @include from(1024px){
        display: none;
    }
    width: calc(100% - 20px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 19px;
    margin-bottom: 26px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
}
.pending {
    &:before {
        opacity: 1;
    }
}
.opened {
    animation: switcherOpen .5s ease-in-out 1;
}
.closing {
    animation: switcherClose .5s ease-in-out 1;
}

.map-part {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    font-weight: 500;
    font-size: 3.1px;
    line-height: 100%;
    overflow: hidden;
    // width: 33px;
    // --image-h: 2.3vw;
    width: 24px;
    width: 35px;
    --image-h: 1.9vw;
    font-size: 2.9px;
    line-height: 105%;
    /* or 10px */
    cursor: pointer;
    transform: translate(-50%,-50%);
    
    letter-spacing: -0.05em;
    @include to(1024px){
        --image-h: 67px;
        width: 60px;
        font-size: 8.1px;
    }
    @include from(1920px){
        width: 50px;
        font-size: 4.1px;
    }
    img, video {
        width: var(--image-h);
        width: 100%;
        height: calc(var(--image-h) * 1.31);
        object-fit: cover;
    }
    span {
        text-transform: uppercase;
        background-color: var(--color-white);
        padding: 0.6px;
        padding: 1px 0 0 1px;
        width: 100%;
        @include from(1025px){
            // word-break: break-all;
        }
    }
}

.map-part[data-item="FIRST POINT COFFEE"] {
    left: 52%;
    top: 82%;
    @include from-to(576px, 1024px) {
        left: calc(52% * 1.59);

    }
    @include to(575px) {
        left: calc(52vw * 1.59);
        top: 82vh;

    }
}
[data-item="ART CENTER 41"] {
    left: 79%;
    top: 48%;
    @include from-to(576px, 1024px) {
        left: calc(79% * 1.59);

    }
    @include to(575px) {
        left: calc(79vw * 1.59);
        top: 48vh;

    }
}
[data-item="М. ТАРАСА ШЕВЧЕНКО –10 ХВ"] {
    left: 92%;
    top: 72%;
    @include from-to(576px, 1024px) {
        left: calc(92% * 1.59);

    }
    @include to(575px) {
        left: calc(92vw * 1.59);
        top: 72vh;

    }
}
[data-item="ART CENTER CLOSER"] {
    left: 16%;
    top: 29%;
    @include from-to(576px, 1024px) {
        left: calc(16% * 1.59);

    }
    @include to(575px) {
        left: calc(16vw * 1.59);
        top: 29vh;

    }
}

[data-item="РЕНОВАНА БУДІВЛЯ ЗАВОДУ"] {
    left: 37%;
    top: 62%;
    @include from-to(576px, 1024px) {
        left: calc(37% * 1.59);

    }
    @include to(575px) {
        left: calc(37vw * 1.59);
        top: 62vh;

    }
}
[data-item="М. ПОШТОВА ПЛОЩА – 30 ХВ"] {
    top: 88%;
    left: 10%;
    @include from-to(576px, 1024px) {
        top: calc(88% * 1.59);

    }
    @include to(575px) {
        top: calc(88vw * 1.59);
        left: calc(10vw * 1.59);
    }
}
[data-item="М. Контрактова площа  – 20 ХВ"] {
    left: 72%;
    top: 86%;
    @include from-to(576px, 1024px) {
        left: calc(72% * 1.59);

    }
    @include to(575px) {
        left: calc(72vw * 1.59);
        top: 86vh;

    }
}
[data-item="ОЗЕРО НА ТЕРИТОРІЇ"] {
    left: 50%;
    top: 24%;
    @include from-to(576px, 1024px) {
        left: calc(50% * 1.59);

    }
    @include to(575px) {
        left: calc(50vw * 1.59);
        top: 24vh;

    }
}