.screen8 {
    height: 500vh;
    width: 100vw;
    margin-top: 0;
    overflow: hidden;
    @include from(1920px){
        height: 400vh;
    }
    svg {
        width: 100vw;
        height: auto;
    }
    &__inner {
        // will-change: transform;
        height: 100vh;
    }
    text {
        font-size: 35px;
        line-height: 100%;
        /* or 35px */

        letter-spacing: -0.04em;
        text-transform: uppercase;

        fill: #000000;
        font-weight: 500;
    }
    .screen8-mobile-svg {
        @include from(576px){
            display: none;
        }
    }
    .screen8-desktop-svg {
        @include to(575px){
            display: none;
        }
    }
}

[fill*="url"] {
    // transform-origin: center !important;
    // transform-box: fill-box;
    // will-change: transform;
}

.screen8__inner {
    position: relative;
    img {
        
        // left: 0;
        // top: 0;
        // width: 100px;
        // height: 100px;
        object-fit: cover;
        z-index: 3;
    }
    [data-frame] {
        position: absolute;
        // will-change: transform;
    }
    [data-frame="1"] {
        width: 427px;
        height: 277px;
        width: 29.6vw;
        height: 19.3vw;
        left: 40.9%;
        top: 35%;
        top: 21.4vw;
        img {
            height: 100%;
            object-position: top;
        }
        @include to(575px){
            width: 38.7vw;
            height: 24.9vw;
            left: 55%;
            top: 31.78%;

            width: 39.1vw;
            height: 25.6vw;
            left: 55vw;
            top: 56.1vw;
        }
        
    }
    [data-frame="1-1"] {
        font-size: 21.9px;
        line-height: 100%;
        font-weight: 500;
        /* or 35px */
        letter-spacing: -0.04em;
        text-transform: uppercase;
        color: var(--color-black);
        width: 250px;
        top: calc(100% + 8px);
        left: 50%;
        transform: translateX(-50%) !important;
        opacity: 0;
        @include from(2100px){
            width: 330px;
            font-size: 32px;
        }
        @include to(575px){
            font-size: 12px;
            line-height: 100%;
            left: 0;
            width: 140px;
            transform: none !important;
        }   
    }
    [data-frame="1-2"] {
        font-size: 8px;
        line-height: 100%;
        font-weight: 500;
        /* or 35px */
        letter-spacing: -0.04em;
        text-transform: uppercase;
        color: var(--color-black);
        width: 110px;
        top: calc(100% + 8px);
        left: 0;
        opacity: 0;
        @include from(2100px){
            font-size: 21px;
            width: 300px;
        }
        @include to(575px){
            font-size: 6px;
            width: 70px;
        }
    }
    [data-frame="2"] {
        width: 203px;
        height: 275px;
        width: 14.1vw;
        height: 19.1vw;
        // left: 18.2%;
        // top: 66.5%;
        left: 18.3vw;
        top: 40.9vw;
        z-index: 3;
        @include to(575px){
            width: 18.8vw;
            height: 25.3vw;
            left: 24.6%;
            top: 46.2%;
            width: 18.8vw;
            height: 25.3vw;
            left: 25vw;
            top: 82vw;
        }
    }
    [data-frame="1-3"] {
        width: 112px;
        font-size: 8px;
        line-height: 100%;
        color: var(--color-black);
        left: calc(100% + 8px);
        bottom: 5%;    
        font-weight: 500;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        color: var(--color-black);
        opacity: 0;
        @include from(2100px){
            font-size: 21px;
            width: 300px;
        }
        @include to(575px){
            bottom: auto;
            top: calc(100% + 8px);
            left: 0;
        }
    }
    [data-frame="3"] {
       width: 184px;
       height: 214px;
       width: 12.8vw;
        height: 14.9vw;
    //    left: 79.9%;
    //    top: 66.1%;

       left: 80vw;
        top: 40.6vw;
       img {
            height: 100%;
            object-position: top left;
        }
       @include to(575px){
            // width: 36.8vw;
            // height: 66.9vw;
            // left: 55.4%;
            // top: 60.6%;
            
            width: 40.2vw;
            height: 66.9vw;
            left: 55.5vw;
            top: 107.3vw;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top right;
                
            }
       }
       
    }
    [data-frame="1-4"] {
        width: 107px;
        font-size: 11px;
        line-height: 100%;
        color: var(--color-black);
        right: 94%;
        top: 37.8%;
        font-weight: 500;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        color: var(--color-black);
        opacity: 0;
        @include from(2100px){
            width: 191px;
            font-size: 17px;
        }
        @include to(575px){
            top: 100%;
            left: 11%;
            width: 65px;
            font-size: 6px;
        }
    }
    [data-frame="4"] {
        height: 268.5px;
        width: 205.5px;
        height: 18.7vw;
        width: 14vw;
        // left: 4.2%;
        left: 3.9vw;
        // top: 6.1%;
        top: 3.9vw;
        img {
            // will-change: transform;
        }
        @include to(575px){
            height: 25vw;
            width: 18.7vw;
            // left: 5.2%;
            // top: 18.2%;
            left: 5.1vw;
    top: 32.4vw;
        }
    }
    [data-frame="5"] {
        height: 155px;
        width: 111.5px;
        height: 11vw;
        width: 7.75vw;
        left: 33.2%;
        top: 18.3%;
        @include from(1025px){
            left: 32.7vw;
            top: 11.5vw;
            width: 9vw;
        }
        @include to(575px){
            height: 25.2vw;
            width: 15.85vw;
            left: 38.2%;
            top: 3.6%;
            left: 38.1vw;
            top: 6.5vw;
            overflow: hidden;
            img {
                width: 137%;
                height: 100%;
                margin-left: -34%;
                object-fit: cover;
                object-position: top right;
                max-width: none;
            }
        }
    }
}