.nav {
    position: fixed;
    left: var(--page-side-fields);
    bottom: var(--page-side-fields);
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    &__logo {
        width: var(--logo-w);
        height: var(--logo-h);
        margin-bottom: 30px;
    }
    svg {

    }
    &__link {
        font-size: 15px;
        line-height: 113%;
        text-decoration: none;
        color: var(--color-black);
        letter-spacing: -0.01em;
        margin-bottom: 1.4px;
        font-weight: 500;
        transition: color .3s ease-in-out;
        &:hover {
            color: #E1F769;
        }
        &:last-of-type {
            margin-bottom: 13px;
        }
        @include from(2100px){
            font-size: 26px;
        }
    }
    &__button {
        @extend .button;
        margin-bottom: 13px;
    }
    &__lang {
        width: 23px;
        height: 23px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 10.6786px;
        line-height: 12px;
        /* identical to box height */
        letter-spacing: -0.01em;
        color: var(--color-black);
        border: 1px solid var(--color-black);
        border-radius: 50%;
        @include from(2100px){  
            font-size: 20px;
            width: 40px;
            height: 40px;
        }
        &-else {
            position: absolute;
            left: 100%;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            align-items: center;
            transition: .3s ease-in-out;
            opacity: 0;
            &>* {
                @extend .nav__lang;
                text-decoration: none;
                margin-left: 5px;
                transition: .3s ease-in-out;
                @include from(2100px){
                    margin-left: 15px;
                }
            }
            &>*:hover {
                color: #E1F769;
                border-color: #E1F769;
            }
        }
        &:hover {
            .nav__lang-else {
                opacity: 1;
            }
        }
    }
    &__menu-toggle-mob {
        font-size: 15px;
        line-height: 120%;
        width: 17px;
        height: 17px;
        letter-spacing: -0.01em;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        @include from(2100px){
            width: 34px;
            height: 34px;
            font-size: 30px;
        }
    }
    &__group {
        display: flex;
        align-items: center;
        :nth-child(n+2) {
            margin-left: 10px;
        }
    }

}

.button {
    line-height: 117%;
    font-size: 12.76px;
    letter-spacing: -0.01em;
    background-color:  #E1F769;
    width: max-content;
    padding: 9.3px 12px;
    text-transform: uppercase;
    border-radius: 5.95814px;
    font-family: $default-font2;
    cursor: pointer;
    color: var(--color-black);
    text-decoration: none;
    white-space: nowrap;
    position: relative;
    z-index: 1;
    overflow: hidden;
    &>* {
        position: relative;
        z-index: 1;
    }
    &:after {

        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 105%;
        background-color: #fff;
        clip-path: circle(1.1% at 100% 0);
        transition: .3s ease-in-out;
        z-index: 0;
    }
    &:hover:after {
        clip-path: circle(141.6% at 100% 0);
    }
    @include from(2100px){
        font-size: 26.76px;
        padding: 18px 24px;
    }
}