@import '../scripts/libs/swiper/swiper';

@import '../../../node_modules/tippy.js/dist/tippy';
.tippy-box {
    background-color: var(--color-black);
    .tippy-content {
        padding: 8px;
        text-align: center;
        img {
            margin-bottom: 4px;
        }
    }
}
